@use 'sass:map';

$ac-rounded: (
	unset: unset,
	0: 0,
	x-small: var(--ac-rounded-xs),
	small: var(--ac-rounded-sm),
	medium: var(--ac-rounded-md),
	large: var(--ac-rounded-lg),
	full: var(--ac-rounded-full),
);


$ac-backgrounds: (
	unset: unset,
	primary: var(--background-primary),
	secondary: var(--background-secondary),
	secondary-alt: var(--background-secondary-alt),
	tertiary: var(--background-tertiary),
	floating: var(--background-floating),
	modifier-active: var(--background-modifier-active),
	modifier-selected: var(--background-modifier-selected),
	modifier-hover: var(--background-modifier-hover),
	modifier-accent: var(--background-modifier-accent),
	transparent: transparent,
);

$ac-spacing: (
	unset: unset,
	auto: auto,
	0: 0,
	xx-small: var(--ac-spacing-xxs),
	x-small: var(--ac-spacing-xs),
	small: var(--ac-spacing-sm),
	medium: var(--ac-spacing-md),
	large: var(--ac-spacing-lg),
	x-large: var(--ac-spacing-xl),
	2x-large: var(--ac-spacing-2xl),
	3x-large: var(--ac-spacing-3xl),
	4x-large: var(--ac-spacing-4xl),
);

@mixin ac-spacing-styling($m: null,
	$mx: null,
	$my: null,
	$mb: null,
	$mt: null,
	$ml: null,
	$mr: null) {
	@if $m {
		@if map.has-key($ac-spacing, $m) {
			margin: map.get($ac-spacing, $m) !important;
		}

		@else {
			margin: $m !important;
		}
	}

	@if $mx {
		@if map.has-key($ac-spacing, $mx) {
			margin-left: map.get($ac-spacing, $mx) !important;
			margin-right: map.get($ac-spacing, $mx) !important;
		}

		@else {
			margin-left: $mx !important;
			margin-right: $mx !important;
		}
	}

	@if $my {
		@if map.has-key($ac-spacing, $my) {
			margin-top: map.get($ac-spacing, $my) !important;
			margin-bottom: map.get($ac-spacing, $my) !important;
		}

		@else {
			margin-top: $my !important;
			margin-bottom: $my !important;
		}
	}

	@if $mb {
		@if map.has-key($ac-spacing, $mb) {
			margin-bottom: map.get($ac-spacing, $mb) !important;
		}

		@else {
			margin-bottom: $mb !important;
		}
	}

	@if $mt {
		@if map.has-key($ac-spacing, $mt) {
			margin-top: map.get($ac-spacing, $mt) !important;
		}

		@else {
			margin-top: $mt !important;
		}
	}

	@if $ml {
		@if map.has-key($ac-spacing, $ml) {
			margin-left: map.get($ac-spacing, $ml) !important;
		}

		@else {
			margin-left: $ml !important;
		}
	}

	@if $mr {
		@if map.has-key($ac-spacing, $mr) {
			margin-right: map.get($ac-spacing, $mr) !important;
		}

		@else {
			margin-right: $mr !important;
		}
	}
}

@mixin ac-padding-styling($p: null,
	$px: null,
	$py: null,
	$pb: null,
	$pt: null,
	$pl: null,
	$pr: null) {
	@if $p {
		@if map.has-key($ac-spacing, $p) {
			padding: map.get($ac-spacing, $p) !important;
		}

		@else {
			padding: $p !important;
		}
	}

	@if $px {
		@if map.has-key($ac-spacing, $px) {
			padding-left: map.get($ac-spacing, $px) !important;
			padding-right: map.get($ac-spacing, $px) !important;
		}

		@else {
			padding-left: $px !important;
			padding-right: $px !important;
		}
	}

	@if $py {
		@if map.has-key($ac-spacing, $py) {
			padding-top: map.get($ac-spacing, $py) !important;
			padding-bottom: map.get($ac-spacing, $py) !important;
		}

		@else {
			padding-top: $py !important;
			padding-bottom: $py !important;
		}
	}

	@if $pb {
		@if map.has-key($ac-spacing, $pb) {
			padding-bottom: map.get($ac-spacing, $pb) !important;
		}

		@else {
			padding-bottom: $pb !important;
		}
	}

	@if $pt {
		@if map.has-key($ac-spacing, $pt) {
			padding-top: map.get($ac-spacing, $pt) !important;
		}

		@else {
			padding-top: $pt !important;
		}
	}

	@if $pl {
		@if map.has-key($ac-spacing, $pl) {
			padding-left: map.get($ac-spacing, $pl) !important;
		}

		@else {
			padding-left: $pl !important;
		}
	}

	@if $pr {
		@if map.has-key($ac-spacing, $pr) {
			padding-right: map.get($ac-spacing, $pr) !important;
		}

		@else {
			padding-right: $pr !important;
		}
	}
}

@mixin ac-color-styling($bg: null, $bgc: null, $c: null) {
	@if $c {
		color: $c !important;
	}

	@if $bg {
		@if map.has-key($ac-backgrounds, $bg) {
			background: map.get($ac-backgrounds, $bg) !important;
		}

		@else {
			background: $bg !important;
		}
	}

	@if $bgc {
		@if map.has-key($ac-backgrounds, $bgc) {
			background-color: map.get($ac-backgrounds, $bgc) !important;
		}

		@else {
			background-color: $bgc !important;
		}
	}
}

@mixin ac-rounded-styling($br: null,
	$brt: null,
	$brb: null,
	$brr: null,
	$brl: null,
	$brtr: null,
	$brbr: null,
	$brtl: null,
	$brbl: null,
	$brx: null,
	$bry: null) {
	@if $br {
		@if map.has-key($ac-rounded, $br) {
			border-radius: map.get($ac-rounded, $br) !important;
		}

		@else {
			border-radius: $br !important;
		}
	}

	@if $brt {
		@if map.has-key($ac-rounded, $brt) {
			border-radius: map.get($ac-rounded, $brt) map.get($ac-rounded, $brt) 0 0 !important;
		}

		@else {
			border-radius: $brt $brt 0 0 !important;
		}
	}

	@if $brb {
		@if map.has-key($ac-rounded, $brb) {
			border-radius: 0 0 map.get($ac-rounded, $brb) map.get($ac-rounded, $brb) !important;
		}

		@else {
			border-radius: 0 0 $brb $brb !important;
		}
	}

	@if $brr {
		@if map.has-key($ac-rounded, $brr) {
			border-radius: 0 map.get($ac-rounded, $brr) map.get($ac-rounded, $brr) 0 !important;
		}

		@else {
			border-radius: 0 $brr $brr 0 !important;
		}
	}

	@if $brl {
		@if map.has-key($ac-rounded, $brl) {
			border-radius: map.get($ac-rounded, $brl) 0 0 map.get($ac-rounded, $brl) !important;
		}

		@else {
			border-radius: $brl 0 0 $brl !important;
		}
	}

	@if $brtr {
		@if map.has-key($ac-rounded, $brtr) {
			border-radius: 0 map.get($ac-rounded, $brtr) 0 0 !important;
		}

		@else {
			border-radius: 0 $brtr 0 0 !important;
		}
	}

	@if $brbr {
		@if map.has-key($ac-rounded, $brbr) {
			border-radius: 0 0 map.get($ac-rounded, $brbr) 0 !important;
		}

		@else {
			border-radius: 0 0 $brbr 0 !important;
		}
	}

	@if $brtl {
		@if map.has-key($ac-rounded, $brtl) {
			border-radius: map.get($ac-rounded, $brtl) 0 0 0 !important;
		}

		@else {
			border-radius: $brtl 0 0 0 !important;
		}
	}

	@if $brbl {
		@if map.has-key($ac-rounded, $brbl) {
			border-radius: 0 0 0 map.get($ac-rounded, $brbl) !important;
		}

		@else {
			border-radius: 0 0 0 $brbl !important;
		}
	}

	@if $brx {
		@if map.has-key($ac-rounded, $brx) {
			border-radius: map.get($ac-rounded, $brx) 0 map.get($ac-rounded, $brx) 0 !important;
		}

		@else {
			border-radius: $brx 0 $brx 0 !important;
		}
	}

	@if $bry {
		@if map.has-key($ac-rounded, $bry) {
			border-radius: 0 map.get($ac-rounded, $bry) 0 map.get($ac-rounded, $bry) !important;
		}

		@else {
			border-radius: 0 $bry 0 $bry !important;
		}
	}
}

@mixin ac-position-styling($pos: null,
	$d: null,
	$top: null,
	$bottom: null,
	$right: null,
	$left: null,
	$w: null,
	$h: null,
	$max-w: null,
	$max-h: null,
	$min-w: null,
	$min-h: null,
	$z: null) {
	@if $d {
		display: $d !important;
	}

	@if $z {
		z-index: $z !important;
	}

	@if $pos {
		position: $pos !important;
	}

	@if $max-w {
		max-width: $max-w !important;
	}

	@if $min-w {
		min-width: $min-w !important;
	}

	@if $max-h {
		max-height: $max-h !important;
	}

	@if $min-h {
		min-height: $min-h !important;
	}

	@if $w {
		@if $w ==fill {
			width: -webkit-fill-available !important;
		}

		@else {
			width: $w !important;
		}
	}

	@if $h {
		height: $h !important;
	}

	@if $left {
		@if map.has-key($ac-spacing, $left) {
			left: map.get($ac-spacing, $left) !important;
		}

		@else {
			left: $left !important;
		}
	}

	@if $right {
		@if map.has-key($ac-spacing, $right) {
			right: map.get($ac-spacing, $right) !important;
		}

		@else {
			right: $right !important;
		}
	}

	@if $top {
		@if map.has-key($ac-spacing, $top) {
			top: map.get($ac-spacing, $top) !important;
		}

		@else {
			top: $top !important;
		}
	}

	@if $bottom {
		@if map.has-key($ac-spacing, $bottom) {
			bottom: map.get($ac-spacing, $bottom) !important;
		}

		@else {
			bottom: $bottom !important;
		}
	}
}

@mixin ac-transition-styling($l: null, $p: null, $d: null) {}

@mixin ac-flex-styling($f: null,
	$gap: null,
	$gapc: null,
	$gapr: null,
	$dir: null,
	$ac: null,
	$ai: null,
	$jc: null,
	$ji: null,
	$js: null,
	$as: null,
	$d: null,
	$wrap: null) {
	@if $f {
		flex: $f !important;
	}

	@if $wrap {
		flex-wrap: $wrap !important;
	}

	@if $dir {
		flex-direction: $dir !important;
	}

	@if $ac {
		align-content: $ac !important;
	}

	@if $ai {
		align-items: $ai !important;
	}

	@if $jc {
		justify-content: $jc !important;
	}

	@if $ji {
		justify-items: $ji !important;
	}

	@if $d {
		display: $d !important;
	}

	@else {
		display: flex !important;
	}

	@if $gap {
		@if map.has-key($ac-spacing, $gap) {
			gap: map.get($ac-spacing, $gap) !important;
		}

		@else {
			gap: $gap !important;
		}
	}

	@if $gapr {
		@if map.has-key($ac-spacing, $gapr) {
			grid-row-gap: map.get($ac-spacing, $gapr) !important;
		}

		@else {
			grid-row-gap: $gapr !important;
		}
	}

	@if $gapc {
		@if map.has-key($ac-spacing, $gapc) {
			grid-column-gap: map.get($ac-spacing, $gapc) !important;
		}

		@else {
			grid-column-gap: $gapc !important;
		}
	}

	@if $as {
		align-self: $as !important;
	}

	@if $js {
		justify-self: $js !important;
	}
}


@mixin ac-icon-replacement($ip: null, $ic: null, $ich: null) {
	@if $ip {
		mask: var(--#{$ip}-path) !important;
	}

	@include ac-color-styling($bg: currentColor);
	@include ac-position-styling($w: 24px, $h: 24px, $d: inline-block);
	mask-size: 100% 100%;

	svg {
		@include ac-position-styling($d: none);
	}

	&:hover {
		@include ac-color-styling($bg: #{$ich});
	}
}