@use 'sass:map';

$ac-maps: (
	spacing: (
		unset: unset,
		auto: auto,
		0: 0,
		xx-small: var(--ac-spacing-xxs),
		x-small: var(--ac-spacing-xs),
		small: var(--ac-spacing-sm),
		medium: var(--ac-spacing-md),
		large: var(--ac-spacing-lg),
		x-large: var(--ac-spacing-xl),
		2x-large: var(--ac-spacing-2xl),
		3x-large: var(--ac-spacing-3xl),
		4x-large: var(--ac-spacing-4xl),
	),
	rounded: (
		unset: unset,
		0: 0,
		xx-small: var(--ac-rounded-xxs),
		x-small: var(--ac-rounded-xs),
		small: var(--ac-rounded-sm),
		medium: var(--ac-rounded-md),
		large: var(--ac-rounded-lg),
		full: var(--ac-rounded-full),
	),
	colors: (
		unset: unset,
		transparent: transparent,
		primary: var(--background-primary),
		secondary: var(--background-secondary),
		secondary-alt: var(--background-secondary-alt),
		tertiary: var(--background-tertiary),
		floating: var(--background-floating),
		accent: var(--brand-500),
		interactive-active: var(--interactive-active),
		modifier-active: var(--background-modifier-active),
		modifier-selected: var(--background-modifier-selected),
		modifier-hover: var(--background-modifier-hover),
		modifier-accent: var(--background-modifier-accent),
		text-primary: var(--text-primary),
		text-secondary: var(--text-secondary),
		text-tertiary: var(--text-tertiary),
		text-accent: var(--brand-600),
		text-muted: var(--text-muted),
		text-active: var(--text-active),
		header-primary: var(--header-primary),
		header-secondary: var(--header-secondary),
	),
	borders: (
		primary: var(--ac-border-primary),
		secondary: var(--ac-border-secondary),
		secondary-alt: var(--ac-border-secondary-alt),
		tertiary: var(--ac-border-tertiary),
		active: var(--ac-border-active),
		accent: var(--ac-modifier-accent),
	),
);

@function _get-value($type, $key) {
	$map: map.get($ac-maps, $type);
	@return if(map.has-key($map, $key), map.get($map, $key), $key);
}

@mixin _ac-space($prop, $val) {
	#{$prop}: _get-value(spacing, $val) !important;
}

@mixin _ac-border($prop, $val) {
	#{$prop}: _get-value(borders, $val) !important;
}

@mixin _ac-color($prop, $val) {
	#{$prop}: _get-value(colors, $val) !important;
}

@mixin ac-border-styling(
	$w,
	$color: null,
	$b: null,
	$bt: null,
	$bb: null,
	$br: null,
	$bl: null,
	$bx: null,
	$by: null
) {
	border-style: solid !important;

	$widths: (
		none: 0,
		thin: 0.5px,
		normal: 1px,
		medium: 2px,
		thick: 3px,
	);
	border-width: if(map.has-key($widths, $w), map.get($widths, $w), $w) !important;

	@if $bt {
		border-top: $bt !important;
	}
	@if $w == none {
		border: none !important;
	}
	@if $bb {
		border-bottom: $bb !important;
	}

	@if $br {
		border-right: $br !important;
	}

	@if $bl {
		border-left: $bl !important;
	}

	@if $bx {
		border-left: $bx !important;
		border-right: $bx !important;
	}

	@if $by {
		border-top: $by !important;
		border-bottom: $by !important;
	}

	@if $b {
		border-style: $b !important;
	}

	@if $color {
		@include _ac-border(border-color, $color);
	}
}

@mixin ac-spacing-styling(
	$m: null,
	$mx: null,
	$my: null,
	$mb: null,
	$mt: null,
	$ml: null,
	$mr: null
) {
	@if $m {
		@include _ac-space(margin, $m);
	}

	@if $mx {
		@include _ac-space(margin-left, $mx);
		@include _ac-space(margin-right, $mx);
	}

	@if $my {
		@include _ac-space(margin-top, $my);
		@include _ac-space(margin-bottom, $my);
	}

	@if $mb {
		@include _ac-space(margin-bottom, $mb);
	}

	@if $mt {
		@include _ac-space(margin-top, $mt);
	}

	@if $ml {
		@include _ac-space(margin-left, $ml);
	}

	@if $mr {
		@include _ac-space(margin-right, $mr);
	}
}

@mixin ac-padding-styling(
	$p: null,
	$px: null,
	$py: null,
	$pb: null,
	$pt: null,
	$pl: null,
	$pr: null
) {
	@if $p {
		@include _ac-space(padding, $p);
	}

	@if $px {
		@include _ac-space(padding-left, $px);
		@include _ac-space(padding-right, $px);
	}

	@if $py {
		@include _ac-space(padding-top, $py);
		@include _ac-space(padding-bottom, $py);
	}

	@if $pb {
		@include _ac-space(padding-bottom, $pb);
	}

	@if $pt {
		@include _ac-space(padding-top, $pt);
	}

	@if $pl {
		@include _ac-space(padding-left, $pl);
	}

	@if $pr {
		@include _ac-space(padding-right, $pr);
	}
}

@mixin ac-color-styling($bg: null, $bgc: null, $c: null) {
	@if $c {
		@include _ac-color(color, $c);
	}

	@if $bg {
		@include _ac-color(background, $bg);
	}

	@if $bgc {
		@include _ac-color(background-color, $bgc);
	}
}

@function _get-rounded($val) {
	@return _get-value(rounded, $val);
}

@mixin ac-rounded-styling(
	$br: null,
	$brt: null,
	$brb: null,
	$brr: null,
	$brl: null,
	$brtr: null,
	$brbr: null,
	$brtl: null,
	$brbl: null,
	$brx: null,
	$bry: null
) {
	@if $br {
		border-radius: _get-rounded($br) !important;
	}

	@if $brt {
		$val: _get-rounded($brt);
		border-top-left-radius: $val !important;
		border-top-right-radius: $val !important;
	}

	@if $brb {
		$val: _get-rounded($brb);
		border-bottom-left-radius: $val !important;
		border-bottom-right-radius: $val !important;
	}

	@if $brr {
		$val: _get-rounded($brr);
		border-top-right-radius: $val !important;
		border-bottom-right-radius: $val !important;
	}

	@if $brl {
		$val: _get-rounded($brl);
		border-top-left-radius: $val !important;
		border-bottom-left-radius: $val !important;
	}

	@if $brtr {
		border-radius: 0 _get-rounded($brtr) 0 0 !important;
	}

	@if $brbr {
		border-radius: 0 0 _get-rounded($brbr) 0 !important;
	}

	@if $brtl {
		border-radius: _get-rounded($brtl) 0 0 0 !important;
	}

	@if $brbl {
		border-radius: 0 0 0 _get-rounded($brbl) !important;
	}

	@if $brx {
		$val: _get-rounded($brx);
		border-radius: $val 0 $val 0 !important;
	}

	@if $bry {
		$val: _get-rounded($bry);
		border-radius: 0 $val 0 $val !important;
	}
}

@mixin ac-position-styling(
	$pos: null,
	$d: null,
	$top: null,
	$bottom: null,
	$right: null,
	$left: null,
	$w: null,
	$h: null,
	$max-w: null,
	$max-h: null,
	$min-w: null,
	$min-h: null,
	$z: null
) {
	@if $d {
		display: $d !important;
	}

	@if $z {
		z-index: $z !important;
	}

	@if $pos {
		position: $pos !important;
	}

	@if $max-w {
		max-width: $max-w !important;
	}

	@if $min-w {
		min-width: $min-w !important;
	}

	@if $max-h {
		max-height: $max-h !important;
	}

	@if $min-h {
		min-height: $min-h !important;
	}

	@if $w {
		width: if($w ==fill, -webkit-fill-available, $w) !important;
	}

	@if $h {
		height: if($h ==fill, -webkit-fill-available, $h) !important;
	}

	@if $left {
		@include _ac-space(left, $left);
	}

	@if $right {
		@include _ac-space(right, $right);
	}

	@if $top {
		@include _ac-space(top, $top);
	}

	@if $bottom {
		@include _ac-space(bottom, $bottom);
	}
}

@mixin ac-transition-styling($l: null, $p: null, $d: null) {
}

@mixin ac-flex-styling(
	$f: null,
	$gap: null,
	$grid-gapc: null,
	$grid-gapr: null,
	$grid-gap: null,
	$gapc: null,
	$gapr: null,
	$dir: null,
	$ac: null,
	$ai: null,
	$jc: null,
	$ji: null,
	$js: null,
	$as: null,
	$d: null,
	$wrap: null
) {
	display: if($d, $d, flex) !important;

	@if $f {
		flex: $f;
	}

	@if $wrap {
		flex-wrap: $wrap;
	}

	@if $dir {
		flex-direction: $dir;
	}

	@if $ac {
		align-content: $ac;
	}

	@if $ai {
		align-items: $ai;
	}

	@if $jc {
		justify-content: $jc;
	}

	@if $ji {
		justify-items: $ji;
	}

	@if $as {
		align-self: $as;
	}

	@if $js {
		justify-self: $js;
	}

	@if $gap {
		@include _ac-space(gap, $gap);
	}

	@if $gapr {
		@include _ac-space(row-gap, $gapr);
	}

	@if $gapc {
		@include _ac-space(column-gap, $gapc);
	}
	@if $grid-gap {
		@include _ac-space(grid-gap, $grid-gap);
	}
	@if $grid-gapc {
		@include _ac-space(grid-column-gap, $grid-gapc);
	}
	@if $grid-gapr {
		@include _ac-space(grid-row-gap, $grid-gapr);
	}
}

@mixin ac-icon-replacement($ip: null, $ic: null, $ich: null) {
	@if $ip {
		mask: var(--#{$ip}-path) !important;
	}

	@include ac-color-styling($bg: currentColor);
	@include ac-position-styling($w: 24px, $h: 24px, $d: inline-block);
	mask-size: 100% 100%;

	svg {
		@include ac-position-styling($d: none);
	}

	&:hover {
		@include ac-color-styling($bg: #{$ich});
	}
}
