// @forward 'palettes/default';
@forward 'palettes/crearts';
//@forward 'palettes/nord';
//@forward 'palettes/nextui';

$O01: 1; // Full opacity
$O02: 0.95; // High opacity
$O03: 0.8; // Medium opacity
$O04: 0.75; // Low opacity
$O05: 0.6; // Very low opacity
$O06: 0.55; // Almost invisible opacity
$O07: 0.4; // Invisible opacity
$O08: 0.35; // Very invisible opacity
$O09: 0.2; // Almost transparent opacity
$O10: 0.15; // Transparent opacity
$O11: 0.05; // Very transparent opacity
$O12: 0; // Transparent opacity

