@use 'abstract' as *;

#{c(modals root)} {
	@include ac-rounded-styling($br: small);
	overflow: unset !important;
	box-shadow: none;

	#{c(modals footer)} {
		@include ac-color-styling($bg: secondary);
		@include ac-spacing-styling($m: small);
		@include ac-rounded-styling($br: small);
		box-shadow: none;
	}
}
