@use 'abstract' as *;

#{c(modals root)} {
	@include ac-border-styling(normal, secondary-alt);
	@include ac-rounded-styling($br: small);
	overflow: unset !important;
	box-shadow: none;

	.card_ac86f6 .promotionalGiftMessage__6fbbd {
		@include ac-position-styling($left: unset, $right: unset, $w: auto, $top: unset);
		@include ac-rounded-styling($br: small);
		@include ac-spacing-styling($mt: 2x-large);

		.avatar__6fbbd {
			@include ac-spacing-styling($m: 0);
		}
	}

	#{c(modals footer)} {
		@include ac-border-styling(normal, secondary-alt);
		@include ac-color-styling($bg: secondary);
		@include ac-spacing-styling($m: small);
		@include ac-rounded-styling($br: small);
		@include ac-flex-styling($gap: small);
		box-shadow: none;

		button {
			@include ac-color-styling($bg: floating);
			@include ac-position-styling($h: 100%, $max-h: unset);
		}
	}
}
