@use 'abstract' as *;

#{c(modals root)}:has(.user-profile-modal-v2) {
	@include ac-position-styling($max-h: 70vh);
	@include ac-color-styling($bg: transparent);
	#{c(profile outer)} {
		@include ac-position-styling($h: fit-content);
		@include ac-color-styling($bg: transparent);
		@include ac-rounded-styling($br: small);
		@include ac-border-styling(none);
		#{c(profile inner)} {
			@include ac-flex-styling($gap: medium);
			@include ac-padding-styling($p: medium);
			.profile__9c3be {
				@include ac-border-styling(thin, secondary-alt);
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);
				box-shadow: unset !important;
				outline: unset !important;
				.profileHeader__9c3be {
					@include ac-spacing-styling($m: small, $mb: 0);
					.mask__68edb {
						@include ac-position-styling($w: 100%, $min-w: unset);
						foreignObject #{c(profile banner banner)} {
							@include ac-rounded-styling($br: small);
							&::before {
								@include ac-position-styling($d: none);
							}
						}
					}
				}
			}
			.container__37bfc {
				@include ac-position-styling($min-h: 100%, $h: unset);
				@include ac-border-styling(normal, secondary-alt);
				@include ac-color-styling($bg: secondary);
				@include ac-rounded-styling($br: small);
				@include ac-flex-styling($gap: medium);
				@include ac-padding-styling($p: small);
				@include ac-spacing-styling($m: 0);
				.scroller__37bfc {
					#{c(tab top)} {
						@include ac-position-styling($w: fill);
					}
				}
				.tabBarPanel__37bfc {
					@include ac-border-styling(normal, secondary-alt);
					@include ac-color-styling($bg: primary);
					@include ac-rounded-styling($br: small);
					@include ac-padding-styling($p: small);
				}
			}
		}
	}
}
#{c(modals root)}:has([class*='user-profile-modal']) {
	@include ac-color-styling($bg: transparent, $bgc: transparent);
	@include ac-rounded-styling($br: 0);
	@include ac-border-styling(none);
	#{c(profile outer)}#{c(profile themed)} {
		--ac-profile-gradient-start: color-mix(
			in oklab,
			var(--profile-gradient-overlay-color) 55%,
			var(--profile-gradient-primary-color)
		);
		--ac-profile-gradient-end: color-mix(
			in oklab,
			var(--profile-gradient-overlay-color) 55%,
			var(--profile-gradient-secondary-color)
		);

		--ac-profile-border-gradient-start: color-mix(
			in oklab,
			var(--profile-gradient-overlay-color) 25%,
			var(--profile-gradient-primary-color)
		);
		--ac-profile-border-gradient-end: color-mix(
			in oklab,
			var(--profile-gradient-overlay-color) 25%,
			var(--profile-gradient-secondary-color)
		);

		--ac-profile-gradient-border-45deg: linear-gradient(
			45deg,
			var(--ac-profile-border-gradient-start),
			var(--ac-profile-border-gradient-end)
		);
		--ac-profile-gradient-border-60deg: linear-gradient(
			60deg,
			var(--ac-profile-border-gradient-start),
			var(--ac-profile-border-gradient-end)
		);
		--ac-profile-gradient-border-90deg: linear-gradient(
			90deg,
			var(--ac-profile-border-gradient-start),
			var(--ac-profile-border-gradient-end)
		);
		--ac-profile-gradient-border-130deg: linear-gradient(
			1300deg,
			var(--ac-profile-border-gradient-start),
			var(--ac-profile-border-gradient-end)
		);

		--ac-profile-gradient-border-header: linear-gradient(
			-90deg,
			var(--ac-profile-border-gradient-start) 0%,
			var(--ac-profile-border-gradient-start) 70%,
			var(--ac-profile-border-gradient-end) 100%
		);
		--ac-profile-gradient-border-username: linear-gradient(
			-90deg,
			var(--ac-profile-border-gradient-start) 0%,
			var(--ac-profile-border-gradient-start) 10%,
			var(--ac-profile-border-gradient-end) 100%
		);

		--ac-profile-gradient-border: linear-gradient(
			180deg,
			var(--ac-profile-border-gradient-start) 0%,
			var(--ac-profile-border-gradient-end) 100%
		);

		--ac-profile-gradient-45deg: linear-gradient(
			45deg,
			var(--ac-profile-gradient-start),
			var(--ac-profile-gradient-start) var(--custom-user-profile-banner-height),
			var(--ac-profile-gradient-end)
		);
		--ac-profile-gradient-60deg: linear-gradient(
			60deg,
			var(--ac-profile-gradient-start),
			var(--ac-profile-gradient-start) var(--custom-user-profile-banner-height),
			var(--ac-profile-gradient-end)
		);
		--ac-profile-gradient-90deg: linear-gradient(
			90deg,
			var(--ac-profile-gradient-start),
			var(--ac-profile-gradient-start) var(--custom-user-profile-banner-height),
			var(--ac-profile-gradient-end)
		);
	}
}
#{c(modals root)}:has(#{c(profile modal)}) {
	@include ac-color-styling($bg: transparent, $bgc: transparent);
	@include ac-border-styling(none);
	#{c(profile outer)}#{c(profile themed)} {
		#{c(profile inner)} {
			#{c(profile modal body)} {
				#{c(profile modal bodyContainer)} {
					background:
						var(--ac-profile-gradient-45deg) padding-box,
						var(--ac-profile-gradient-border-130deg) border-box !important;
					@include ac-border-styling(thick, transparent);
				}
				.username__24502 {
					background:
						var(--ac-profile-gradient-border-username) padding-box,
						var(--ac-profile-gradient-border-60deg) border-box !important;
					@include ac-border-styling(thick, transparent, $bt: 0);
				}
				#{c(tab top)} {
					background:
						var(--ac-profile-gradient-90deg) padding-box,
						var(--ac-profile-gradient-border-130deg) border-box !important;
					@include ac-border-styling(thick, transparent);
				}
			}
			header {
				background:
					var(--ac-profile-gradient-border-header) padding-box,
					var(--ac-profile-gradient-border-60deg) border-box !important;
				@include ac-border-styling(thick, transparent, $bb: 0);
			}
		}
	}
	&:has(.profileEffects__01370) {
		.profileEffects__01370 {
			@include ac-position-styling($top: unset, $bottom: 0, $h: 100%);
			@include ac-rounded-styling($br: small);
		}
	}
	#{c(profile outer)}#{c(profile modal)} {
		@include ac-position-styling($max-w: 622px, $w: fit-content, $h: fit-content, $max-h: 65vh);
		@include ac-color-styling($bg: transparent, $bgc: transparent);
		@include ac-rounded-styling($br: 0);
		@include ac-padding-styling($p: 0);
		overflow: unset !important;

		#{c(profile inner)} {
			@include ac-color-styling($bg: transparent, $bgc: transparent);

			#{c(profile firendsMoreEditProfileButtons wrapper)} {
				@include ac-position-styling(
					$right: calc(var(--ac-spacing-sm) * 2),
					$top: calc(var(--ac-spacing-sm) * 2)
				);
			}

			div:has(.headerInner__24502) {
				border: solid 1px var(--background-secondary-alt);
				background: var(--background-primary);
				border-bottom: none !important;
				@include ac-flex-styling($d: grid);
				@include ac-spacing-styling($m: 0);
				@include ac-padding-styling($p: small, $pb: xx-small);
				@include ac-rounded-styling($brt: small, $brb: 0);
				@include ac-position-styling($w: 100%);

				#{c(profile banner mask)} {
					height: 210px;
					grid-area: -1/1;

					mask {
						rect {
							filter: brightness(67%) !important;
							rx: var(--ac-rounded-xs) !important;
						}

						circle {
							@include ac-position-styling($d: none);
						}
					}
					foreignObject {
						@include ac-rounded-styling($br: small);
						mask: none !important;
						#{c(profile banner banner)} {
							@include ac-rounded-styling($br: small);
							&::before {
								@include ac-position-styling($d: none);
							}
						}
					}
				}

				#{c(profile modal headerInner)} {
					@include ac-spacing-styling($m: 0);
					grid-area: -1/1;

					#{c(profile avatar avatar)} {
						@include ac-position-styling($top: small, $left: small);

						#{c(avatar wrapper)} {
							svg {
								foreignObject {
									#{c(avatar stack)} {
										img {
											clip-path: inset(
												calc(var(--rs-large-spacing) + 1px)
													calc(var(--rs-large-spacing) + 1px) round
													var(--ac-rounded-sm)
											) !important;
										}
									}
								}

								> rect {
									rx: var(--ac-rounded-md) !important;
									ry: var(--ac-rounded-md) !important;
								}
							}
						}
					}

					.container_ab8609 {
						@include ac-position-styling($top: 53%, $left: 23%);
					}

					.headerButtons__24502 {
						@include ac-flex-styling($as: flex-end);
						@include ac-padding-styling($p: small, $pb: small);
						@include ac-spacing-styling($mb: x-small);
					}
				}
			}

			#{c(profile modal body)} {
				@include ac-flex-styling($gapr: small, $d: grid);
				grid-template-areas:
					'username'
					'container';

				#{c(profile overlay)} {
					@include ac-spacing-styling($m: 0);
					@include ac-rounded-styling($br: 0);

					.friendRequestBanner__24502 {
						@include ac-padding-styling($px: small);
						@include ac-color-styling($bg: secondary);
						@include ac-spacing-styling($m: small, $mt: 0);
						@include ac-rounded-styling($br: small);
					}
				}

				.username__24502 {
					border: solid 1px var(--background-secondary-alt);
					background: var(--background-primary);
					border-top: none !important;
					@include ac-spacing-styling($m: 0);
					@include ac-padding-styling($p: small, $pt: 0, $pl: large);
					@include ac-rounded-styling($brt: 0, $brb: small);
					grid-area: username;
				}

				#{c(profile modal bodyContainer)} {
					border: solid 1px var(--background-secondary-alt);
					background: var(--background-primary);
					@include ac-rounded-styling($br: small);
					grid-area: container;

					#{c(tab top)} {
						background-color: var(--background-secondary) !important;
						border: solid 1px var(--background-secondary);
						@include ac-position-styling($w: fill);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($p: small);
						@include ac-flex-styling($jc: space-around);
						@include ac-spacing-styling($m: small);
					}

					#{c(scroller thin)} {
						@include ac-position-styling($h: 300px);
						@include ac-spacing-styling($m: 0);
						@include ac-padding-styling($p: small);

						.card__39ec2 {
							@include ac-border-styling(normal, secondary-alt);
							@include ac-rounded-styling($br: small);
							background-color: var(--background-secondary-alt);
							header {
								@include ac-rounded-styling($br: x-small);
							}
						}

						.note_fcb628 {
							textarea {
								@include ac-color-styling(
									$bg: rgb(var(--bg-overlay-color-inverse) / 0.1)
								);
							}
						}
					}
				}
			}
		}
	}
}
