@use 'abstract' as *;

#{c(profile outer)}.user-profile-modal {
    @include ac-position-styling($w: 55vw, $h: unset,);
    @include ac-rounded-styling($brb: small, $brt: 0);
    overflow: unset !important;

    #{c(profile inner)} {
        @include ac-flex-styling($dir: row);

        #{c(profile firendsMoreEditProfileButtons wrapper)} {
            @include ac-position-styling($right: unset, $left: calc(var(--ac-spacing-sm) * 2), $top: calc(var(--ac-spacing-sm) * 2), );
        }

        header {
            #{c(profile banner mask)} {
                @include ac-rounded-styling($br: small);
                @include ac-spacing-styling($m: small);

                mask {
                    circle {
                        @include ac-position-styling($d: none);
                    }
                }
            }

            #{c(profile modal headerInner)} {
                @include ac-spacing-styling($mr: small);

                .headerButtons__24502 {
                    @include ac-padding-styling($p: 0);
                }
            }
        }

        #{c(profile modal body)} {
            .username__24502 {
                @include ac-position-styling($pos: absolute, $left: small, $bottom: small);
                @include ac-spacing-styling($m: 0)
            }

            .container_d1d9f3 {
                #{c(tab top)} {
                    @include ac-position-styling($pos: absolute, $left: 0, $w: fill, $bottom: 100%, $right: 0);
                    @include ac-rounded-styling($brt: small);
                    @include ac-color-styling($bg: secondary);
                    @include ac-padding-styling($px: small, $pt: small);
                    @include ac-spacing-styling($m: 0);
                    border: none !important;
                }
            }

            #{c(scroller thin)} {
                @include ac-flex-styling($gap: small);
                @include ac-padding-styling($py: small, $pl: 0);
                height: 350px;

                &#{c(profile modal listScroller)} {
                    @include ac-flex-styling($dir: column);
                }
            }
        }
    }
}