@use 'abstract' as *;

#{c(main appMount)} {
	#{c(main appContainer)} {
		#{c(main appInner)} {
			@include nebula-color-styling($bg: transparent);
			#{c(main bg)} {
				@include nebula-position-styling($d: none);
			}
			#{c(main appLayer)} {
				@include nebula-color-styling($bg: transparent);
			}
			#{c(main appLayers)} {
				@include nebula-color-styling($bgc: primary);
				#{c(main baseLayer)} {
					@include nebula-color-styling($bg: transparent);
					opacity: 1 !important;
					transform: unset !important;
					will-change: unset !important;
					#{c(main container)} {
						@include nebula-spacing-styling($m: small);
						@include nebula-position-styling($w: unset);
					}
				}
			}
		}
	}
}
