@use 'abstract' as *;

html {
    &#{c(os win platform)} {
        #{c(topBar bar)}:not(#{c(topBar systemBar)}) {
            #{c(topBar leading container)} {
                &::after {
                    content: 'v#{$win-version} 〡 ' var(--ACV17) ' Palette by ' var(--ACV16);
                }
            }
        }
    }

    &#{c(os mac platform)} {
        #{c(topBar bar)}:not(#{c(topBar systemBar)}) {
            #{c(topBar trailing container)} {
                &::after {
                    content: 'v#{$osx-version} 〡 ' var(--ACV17) ' Palette by ' var(--ACV16);
                }
            }
        }
    }
}

html#{c(os win platform)} {
    #{c(userSettings sidebarInfo)} {
        &::before {
            font-family: var(--font-primary);
            color: var(--text-muted);
            text-transform: none;
            font-size: 12px;
            position: relative;
            content: '#{$theme-name} #{$win-version} ' '('var(--ACV-COMMIT)')';
        }
    }
}

html#{c(os mac platform)} {
    #{c(userSettings sidebarInfo)} {
        &::before {
            font-family: var(--font-primary);
            color: var(--text-muted);
            text-transform: none;
            font-size: 12px;
            position: relative;
            content: '#{$theme-name} #{$osx-version} ' '('var(--ACV-COMMIT)')';
        }
    }
}