@use 'abstract' as *;

#{c(topBar bar)} {
	@include nebula-position-styling($h: var(--nebula-osbar-height));
	@include nebula-color-styling($bg: tertiary);
	@include nebula-padding-styling($p: 0);
	#{c(topBar title container)} {
		@include nebula-position-styling($pos: relative);
	}
	#{c(topBar leading container)} {
		@include nebula-position-styling($h: 100%, $w: unset);
		@include nebula-spacing-styling($ml: x-small);
		order: -1;
		&::before{
			@include nebula-color-styling($bg: var(--titlebar-wordmark) center);
			@include nebula-position-styling($pos: relative, $h: 100%);
			@include nebula-flex-styling($gap: xx-small);
			text-align: right;
			content: '';
			width: 100px;
			height: 100%;
		}
		&::after{
			@include nebula-color-styling($c: var(--text-muted));
			font-size: 12px;
			position: relative;
		}
	}
}
html{
	&#{c(os win platform)} {
		#{c(topBar bar)} {
			#{c(topBar leading container)} {
				&::after{
					content: 'v#{$win-version}' ' 〡 ' '#{$A02} Palette by #{$A01}'
				}
			}
		}
	}
	&#{c(os mac platform)} {
		#{c(topBar bar)} {
			#{c(topBar leading container)} {
				&::after{
					content: 'v#{$osx-version}' ' 〡 ' '#{$A02} Palette by #{$A01}'
				}
			}
		}
	}
}