@use 'abstract' as *;

#{c(topBar bar)} {
	@include nebula-position-styling($h: var(--nebula-osbar-height));
	@include nebula-color-styling($bg: tertiary);
	@include nebula-flex-styling($gap: 0);
	@include nebula-padding-styling($p: 0);
	#{c(topBar trailing container)} {
		@include nebula-position-styling($h: 100%, $w: 100%, $pos: relative);
		@include nebula-flex-styling($gap: small);
		&::before {
			@include nebula-color-styling($bg: var(--titlebar-wordmark) center);
			@include nebula-position-styling($pos: relative, $h: 100%, $w: 100px);
			@include nebula-spacing-styling($ml: xx-small);
			text-align: right;
			content: '';

		}
		&::after {
			@include nebula-color-styling($c: var(--text-muted));
			@include nebula-position-styling($pos: relative);
			@include nebula-spacing-styling($mr: auto);
			font-size: 12px;
		}
		#{c(topBar trailing recentsIcon)} {
			@include nebula-spacing-styling($ml: auto);
			order: 1;
		}
		#{c(topBar trailing winButtons)} {
			order: 1;
		}
	}
	#{c(topBar leading container)} {
		@include nebula-spacing-styling($m: 0)
	}
	#{c(topBar trailing container)} {
		a[href="https://support.discord.com"]
		{
			@include nebula-position-styling($d: none);
		}
	}
}
html {
	&#{c(os win platform)} {
		#{c(topBar bar)} {
			#{c(topBar trailing container)} {
				&::after {
					content: 'v#{$win-version}' ' 〡 ' '#{$A02} Palette by #{$A01}';
				}
			}
		}
	}
	&#{c(os mac platform)} {
		#{c(topBar bar)} {
			#{c(topBar trailing container)} {
				&::after {
					content: 'v#{$osx-version}' ' 〡 ' '#{$A02} Palette by #{$A01}';
				}
			}
		}
	}
}
