@use 'abstract' as *;

#{c(topBar bar)} {
	@include ac-position-styling($h: var(--ac-osbar-height));
	@include ac-spacing-styling($mx: small);
	@include ac-padding-styling($p: 0);

	#{c(topBar trailing container)} {
		@include ac-flex-styling($gap: small);

		a[href="https://support.discord.com"]
		{
			@include ac-position-styling($d: none);
		}
	}

	#{c(topBar leading container)} {
		@include ac-position-styling($h: 100%);
		@include ac-flex-styling($gap: xx-small, $ac: center);

		&::before {
			@include ac-color-styling($bg: var(--titlebar-wordmark) center);
			@include ac-position-styling($pos: relative, $h: 100%, $w: 110px);
			text-align: right;
			content: '';
		}

		&::after {
			@include ac-position-styling($pos: relative);
			@include ac-color-styling($c: var(--text-normal));
			opacity: #{$O14};
			font-size: 12px;
		}
	}
}

