@use 'abstract' as *;
#{c(chat page)} {
	.container_a592e1 {
		@include ac-rounded-styling($br: small);
		@include ac-border-styling(normal, secondary-alt);
		overflow: hidden;
		.container_d08938 {
			.headerBar__8a7fc {
				@include ac-position-styling($w: fill);
				@include ac-spacing-styling($m: small);
				@include ac-rounded-styling($br: small);
				@include ac-color-styling($bg: secondary);
				.container__65d41{
					#{c(tab top)} {
						@include ac-flex-styling($ai: center);
					}
				}
				&::after{
					@include ac-position-styling($d: none);
				}
			}
		}
	}
}
#{c(other cv discoverCategory)} {
	@include ac-color-styling($bg: secondary);
	@include ac-rounded-styling($br: small);

	&::before {
		@include ac-position-styling(
			$d: block,
			$pos: absolute,
			$w: 100%,
			$h: 70px,
			$bottom: 0,
			$z: 2
		);
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: secondary);
		transition: 0.25s ease all;
		mask-image: linear-gradient(
			transparent 9%,
			#0000001a 10%,
			#0000006a 40%,
			#000000b6 50%,
			#000000 80%
		);
		content: '';
	}
}
