@use 'abstract' as *;

#{c(friends container)} {
	@include nebula-color-styling($bgc: transparent);
	border: none !important;
	#{c(header themed)} {
		@include nebula-rounded-styling($br: small);
		@include nebula-color-styling($bg: secondary);
		@include nebula-padding-styling($py: 0);
		height: unset !important;
		border: none;
		#{c(header upperContainer)} {
			@include nebula-spacing-styling($my: xx-small);
			#{c(header children)} {
				#{c(header tabBar)} {
					#{c(tab item)} {
						@include nebula-spacing-styling($mx: 0, $ml: small);
						&#{c(header addFriend)} {
							@include nebula-color-styling($bg: transparent);
						}
					}
				}
			}
		}
	}

	#{c(friends tabBody)} {
		@include nebula-color-styling($bgc: transparent);
		@include nebula-spacing-styling($mt: small);

		#{c(friends peopleColumn)} {
			@include nebula-color-styling($bg: secondary);
			@include nebula-rounded-styling($br: small);
			@include nebula-spacing-styling($mr: small);
			#{c(serverSettings roleSearchBar)} {
				@include nebula-spacing-styling($m: small);
			}
			#{c(friends peopleList)} {
				#{c(scroller content)} {
					@include nebula-position-styling($h: fit-content);
					.sectionTitle__5ec2f{
						h2 {
							@include nebula-spacing-styling($m: small);
						}
					}
					#{c(friends peopleListItem)} {
						@include nebula-spacing-styling($mx: small, $mb: xx-small);
						@include nebula-rounded-styling($br: small);
						@include nebula-padding-styling($p: small);
						border: none;
						&:hover {
							@include nebula-padding-styling($p: small);
						}
					}
				}
			}
		}

		#{c(friends nowPlayingColumn)} {
			@include nebula-color-styling($bg: secondary);
			@include nebula-rounded-styling($br: small);

			#{c(friends nowPlayingContainer)} {
				@include nebula-color-styling($bg: transparent);

				#{c(friends nowPlayingScroller)} {
					border: none;
				}
			}
		}

		&::before {
			@include nebula-position-styling($d: none);
		}
	}
}
