@use 'abstract' as *;

#{c(friends container)} {
	@include ac-color-styling($bgc: transparent);
	border: none !important;

	#{c(header themed)} {
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: secondary);
		@include ac-padding-styling($py: 0);
		height: unset !important;
		border: none;

		#{c(header upperContainer)} {
			@include ac-spacing-styling($my: x-small);

			#{c(header children)} {
				#{c(header tabBar)} {
					#{c(tab item)} {
						@include ac-spacing-styling($mx: 0, $ml: small);

						&#{c(header addFriend)} {
							@include ac-color-styling($bg: transparent);
						}
					}
				}
			}
		}
	}

	#{c(friends tabBody)} {
		@include ac-color-styling($bgc: transparent);
		@include ac-spacing-styling($mt: small);

		#{c(friends peopleColumn)} {
			@include ac-color-styling($bg: secondary);
			@include ac-rounded-styling($br: small);
			@include ac-spacing-styling($mr: small);

			#{c(serverSettings roleSearchBar)} {
				@include ac-spacing-styling($m: small);
			}

			#{c(friends peopleList)} {
				#{c(scroller content)} {
					@include ac-position-styling($h: fit-content);

					.sectionTitle__5ec2f {
						h2 {
							@include ac-spacing-styling($m: small);
						}
					}

					#{c(friends peopleListItem)} {
						@include ac-spacing-styling($mx: small, $mb: xx-small);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($p: small);
						border: none;

						&:hover {
							@include ac-padding-styling($p: small);
						}
					}
				}
			}
		}

		#{c(friends nowPlayingColumn)} {
			@include ac-color-styling($bg: secondary);
			@include ac-rounded-styling($br: small);

			#{c(friends nowPlayingContainer)} {
				@include ac-color-styling($bg: transparent);

				#{c(friends nowPlayingScroller)} {
					border: none !important;

					#{c(friends itemCard)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						border: none !important;

						&:hover {
							@include ac-color-styling($bg: modifier-hover);
						}

						#{c(friends itemCardBody)} {
							#{c(friends itemCardBodySection)} {
								border: none !important;
							}
						}
					}
				}
			}
		}

		&::before {
			@include ac-position-styling($d: none);
		}
	}
}