@use 'abstract' as *;

#{c(userSettings standardSidebarView)} {
	@include ac-color-styling($bg: rgba(0, 0, 0, $O07));
	@include ac-flex-styling($gapc: small);
	@include ac-spacing-styling($mb: small, $mt: var(--ac-osbar-height), $mx: small);
	@include ac-rounded-styling($br: x-small);
	@include ac-padding-styling($py: small);

	#{c(userSettings sidebarRegion)} {
		@include ac-spacing-styling($ml: calc(var(--custom-guild-list-width) + calc(var(--ac-spacing-sm) * 2)));
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-flex-styling($f: 0);

		#{c(userSettings sidebarRegionScroller)} {
			@include ac-position-styling($w: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)));
			@include ac-rounded-styling($br: small);
			@include ac-color-styling($bg: transparent);

			#{c(userSettings sidebar)} {
				@include ac-position-styling($w: 100%);
				@include ac-padding-styling($py: medium, $pr: small);

				#{c(tab side)} {
					.searchBar_c7e907 {
						@include ac-rounded-styling($br: small);
					}

					#{c(tab header)} {
						@include ac-padding-styling($py: small, $px: 0);
					}
				}
			}
		}
	}

	#{c(userSettings contentRegion)} {
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-position-styling($max-w: 100%);
		@include ac-spacing-styling($mr: small);
		overflow: hidden;

		#{c(appSettings contentTransitionWrap)} {
			@include ac-position-styling($w: 100%);
			@include ac-flex-styling;

			#{c(userSettings contentRegionScroller)} {
				@include ac-color-styling($bg: transparent);

				#{c(userSettings contentColumn)} {
					@include ac-position-styling($max-w: 100%);
					@include ac-padding-styling($pt: 4xl-large, $pl: 2x-large, $pr: small);

					#{c(tab top)} {
						@include ac-flex-styling($gap: small);
						border: none;
					}

					#{c(userSettings box)},
					#{c(card primary)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						box-shadow: none !important;
						border: none !important;
					}

					[class*='max-width__'] {
						max-width: unset !important;
					}

					#{c(other cv fullscreen)} {
						@include ac-color-styling($bg: transparent);
						@include ac-position-styling($pos: relative);
						overflow: hidden;
					}

					#{c(modals soundboard nitro upsell container)} {
						@include ac-position-styling($max-w: unset);
						@include ac-rounded-styling($br: small);
					}

					#{c(userSettings addConnectionContainer)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
					}

					#{c(userSettings connection)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($pt: small);

						#{c(userSettings connectionHeader)} {
							@include ac-color-styling($bg: secondary);
							@include ac-spacing-styling($mx: small);
							@include ac-rounded-styling($br: small);
						}
					}

					#{c(userSettings devicesSession)} {
						@include ac-padding-styling($py: small, $px: large);
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-spacing-styling($mb: small);
						border: none !important;
					}
					
					.authedAppV2__50a54{
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($p: small);
						@include ac-spacing-styling($mb: small);
						.headerV2__50a54{
							@include ac-color-styling($bg: secondary);
							@include ac-rounded-styling($br: small);
						}
						.appDetailsContainer__50a54{
							.footer__50a54{
								@include ac-spacing-styling($my: small, $mb: 0);
							}
						}
					}
					.paymentSourceRow__0eeee{
						@include ac-padding-styling($p: small);
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
					}
				}

				#{c(other cv settingsToolsContainer)} {
					@include ac-position-styling($pos: absolute, $top: 0);
				}
			}
		}
	}
}

html#{c(os win platform)} {
	#{c(userSettings sidebarInfo)} {
		&::before {
			font-family: var(--font-primary);
			color: var(--text-muted);
			text-transform: none;
			font-size: 12px;
			position: relative;
			content: '#{$theme-name} #{$win-version} #{$A02} Edition (#{$A01})';
		}
	}
}

html#{c(os mac platform)} {
	#{c(userSettings sidebarInfo)} {
		&::before {
			font-family: var(--font-primary);
			color: var(--text-muted);
			text-transform: none;
			font-size: 12px;
			position: relative;
			content: '#{$theme-name} #{$osx-version} #{$A02} Edition (#{$A01})';
		}
	}
}