@use 'abstract' as *;

#{c(userSettings standardSidebarView)} {
	@include ac-color-styling($bg: transparent);
	@include ac-flex-styling($gapc: small);
	@include ac-spacing-styling($m: 0);
	@include ac-rounded-styling($br: x-small);
	@include ac-padding-styling($py: small);

	#{c(userSettings sidebarRegion)} {
		@include ac-border-styling(normal, primary);
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-flex-styling($f: 0);

		#{c(userSettings sidebarRegionScroller)} {
			@include ac-position-styling(
				$w: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))
			);
			@include ac-rounded-styling($br: small);
			@include ac-color-styling($bg: transparent);

			#{c(userSettings sidebar)} {
				@include ac-position-styling($w: 100%);
				@include ac-padding-styling($py: medium, $pr: small);

				#{c(tab side)} {
					.searchBar_c7e907 {
						@include ac-rounded-styling($br: small);
					}
					#{c(tab item)} {
						@include ac-color-styling($c: text-primary);
					}

					#{c(tab header)} {
						@include ac-padding-styling($py: small, $px: 0);
					}
				}
			}
		}
	}

	#{c(userSettings contentRegion)} {
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-position-styling($max-w: 100%);
		@include ac-spacing-styling($mr: small);
		@include ac-border-styling(normal, primary);
		overflow: hidden;
		.container_cdb2b0 {
			@include ac-position-styling($w: 100%);
		}

		#{c(userSettings contentRegionScroller)} {
			@include ac-color-styling($bg: transparent);
			@include ac-spacing-styling($mt: 0);

			.content_dbba93 {
				.leftColumn_dbba93 {
					@include ac-position-styling($max-w: 100%);
					@include ac-flex-styling($f: 1);
				}
			}

			.section__9e177 {
				@include ac-position-styling($max-w: 100%);
				@include ac-spacing-styling($m: 4x-large);
			}
		}
		#{c(userSettings customScroller)} {
			> div,
			main {
				@include ac-position-styling($max-w: 100%);
			}
		}

		#{c(userSettings accountProfile)} {
			@include ac-rounded-styling($br: small);

			svg {
				rect {
					@include ac-position-styling(
						$w: calc(100% - calc(var(--ac-spacing-sm) - 3.5px) * 2),
						$h: calc(100% - var(--ac-spacing-sm))
					);
					rx: var(--ac-rounded-xs);
					x: calc(var(--ac-spacing-xs) - 1px);
					y: calc(var(--ac-spacing-xs) - 1px);
				}

				circle {
					@include ac-position-styling($d: none);
				}
			}

			.userInfo__1fed1 {
				@include ac-padding-styling($p: small);

				#{c(avatar wrapper)} {
					@include ac-position-styling(
						$left: calc(var(--ac-spacing-sm) * 2),
						$top: calc(var(--ac-spacing-sm) * 2)
					);
				}
			}

			.background__1fed1 {
				@include ac-spacing-styling($m: small);
			}
		}

		#{c(appSettings contentTransitionWrap)} {
			@include ac-position-styling($w: 100%);
			@include ac-flex-styling;

			#{c(userSettings contentRegionScroller)} {
				@include ac-color-styling($bg: transparent);

				#{c(userSettings contentColumn)} {
					@include ac-position-styling($max-w: 100%);
					@include ac-padding-styling($pt: 4xl-large, $pl: 2x-large, $pr: small);

					.settingCard__1a4ef {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($pb: small);

						.cardFolder__1a4ef {
							@include ac-spacing-styling($mx: small);
							@include ac-rounded-styling($br: small);
						}
					}

					#{c(userSettings box)},
					#{c(card primary)} {
						@include ac-border-styling(normal, secondary-alt);
						background-color: var(--background-primary);
						@include ac-rounded-styling($br: small);
						box-shadow: none !important;
					}

					[class*='max-width__'] {
						max-width: unset !important;
					}

					#{c(other cv fullscreen)} {
						@include ac-color-styling($bg: transparent);
						@include ac-position-styling($pos: relative);
						overflow: hidden;
					}

					#{c(modals soundboard nitro upsell container)} {
						@include ac-position-styling($max-w: unset);
						@include ac-rounded-styling($br: small);
					}

					#{c(userSettings addConnectionContainer)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
					}

					#{c(userSettings connection)} {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($pt: small);

						#{c(userSettings connectionHeader)} {
							@include ac-color-styling($bg: secondary);
							@include ac-spacing-styling($mx: small);
							@include ac-rounded-styling($br: small);
						}
					}

					#{c(userSettings devicesSession)} {
						@include ac-padding-styling($py: small, $px: large);
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-spacing-styling($mb: small);
						@include ac-border-styling(none);
						#{c(serverList serverWrapper)} {
							#{c(serverList lowerBadge)} {
								@include ac-position-styling($right: 0, $left: unset, $bottom: 0);
							}
						}
					}

					.authedAppV2__50a54 {
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
						@include ac-padding-styling($p: small);
						@include ac-spacing-styling($mb: small);

						.headerV2__50a54 {
							@include ac-color-styling($bg: secondary);
							@include ac-rounded-styling($br: small);
						}

						.appDetailsContainer__50a54 {
							.footer__50a54 {
								@include ac-spacing-styling($my: small, $mb: 0);
							}
						}
					}

					.paymentSourceRow__0eeee {
						@include ac-padding-styling($p: small);
						@include ac-color-styling($bg: primary);
						@include ac-rounded-styling($br: small);
					}
				}

				#{c(settings tools toolsContainer)} {
					@include ac-position-styling($pos: absolute, $top: 0);
				}
			}
		}
	}
}
