@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

$A01: 'CorellanStoma';
$A02: 'CreArts';

// Skin Fonts
$B01: 'Quicksand', sans-serif;
$B02: 'Montserrat', sans-serif;
$B03: 'Consolas', monospace;

// Accent
$C01: #ce0951;
$C02: #a30a42;
$C03: #880837;

// Albatross Background HSL

$NBV01: 223;
$NBV02: 17%;
$NBV03: 24%;

// Albatross Accent HSL
$NBV04: 338;
$NBV05: 92%;
$NBV06: 42%;

// Albatross Text HSL
$NBV07: 180;
$NBV08: 5%;
$NBV09: 87%;

// Albatross Interactive HSL

$NBV10: 90;
$NBV11: 3%;
$NBV12: 87%;

// Background Modifier HSL
$NBV13: 338;
$NBV14: 82%;
$NBV15: 38%;
