// Palette Font Import

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$A01: 'Loremly';
$A02: 'Nebula';

// Palette Fonts
$B01: 'Inter', sans-serif;
$B02: 'Noto Sans', sans-serif;
$B03: 'Source Code Pro', monospace;

// Palette Background HSL

$NBV01: 232;
$NBV02: 32%;
$NBV03: 27%;

// Palette Accent HSL
$NBV04: 170;
$NBV05: 76%;
$NBV06: 32%;

// Palette Text HSL
$NBV07: 240;
$NBV08: 11%;
$NBV09: 92%;

// Palette Interactive HSL

$NBV10: 213;
$NBV11: 47%;
$NBV12: 89%;

// Background Modifier HSL
$NBV13: 170;
$NBV14: 76%;
$NBV15: 36%;
