// Palette Font Import


$A01: 'author';
$A02: 'name';

// Palette Fonts
$B01: 'font', sans-serif;
$B02: 'font', sans-serif;
$B03: 'font', monospace;

// Palette Background HSL

$NBV01: 232;
$NBV02: 32%;
$NBV03: 27%;

// Palette Accent HSL
$NBV04: 170;
$NBV05: 76%;
$NBV06: 32%;

// Palette Text HSL
$NBV07: 240;
$NBV08: 11%;
$NBV09: 92%;

// Palette Interactive HSL

$NBV10: 213;
$NBV11: 47%;
$NBV12: 89%;

// Background Modifier HSL
$NBV13: 170;
$NBV14: 76%;
$NBV15: 36%;
