@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic&display=swap');$A01: 'CorellanStoma';
$A02: 'CreArts';

// Skin Fonts
$B01: 'Raleway', sans-serif;
$B02: 'Special Gothic', sans-serif;
$B03: 'Fira Code', monospace;

// Albatross Background HSL

$NBV01: 240;
$NBV02: 6%;
$NBV03: 14%;

// Albatross Accent HSL
$NBV04: 212;
$NBV05: 100%;
$NBV06: 38%;
// Albatross Text HSL
$NBV07: 227;
$NBV08: 50%;
$NBV09: 95%;

// Albatross Interactive HSL

$NBV10: 226;
$NBV11: 100%;
$NBV12: 96%;

// Background Modifier HSL
$NBV13: 212;
$NBV14: 100%;
$NBV15: 29%;
