@use 'abstract' as *;

#{c(modals emoji wrapper)} {
	@include ac-color-styling($bg: floating);
	@include ac-rounded-styling($br: small);

	#{c(modals emoji header)} {
		@include ac-border-styling(normal, secondary-alt);
		@include ac-spacing-styling($m: small);
		@include ac-rounded-styling($br: small);
	}
	#{c(modals sidebarList wrapper)} {
		@include ac-spacing-styling($mb: small);
	}
	#{c(modals emoji picker)} {
		@include ac-color-styling($bg: transparent);
		@include ac-flex-styling($d: grid, $gapc: small);
		@include ac-border-styling(none);
		box-shadow: none !important;
		#{c(modals emoji body)} {
			@include ac-spacing-styling($ml: small);
		}
		#{c(modals emoji inspectorGrid)} {
			@include ac-position-styling($pos: relative, $top: 0);
			@include ac-spacing-styling($mb: small, $mt: 0, $ml: small);
		}
	}
}

#{c(modals expressionPicker contentWrapper)} {
	@include ac-padding-styling($py: small, $pr: small);
	@include ac-color-styling($bg: floating);
	@include ac-rounded-styling($br: small);
	@include ac-flex-styling($gap: 0, $d: grid);
	grid-template-rows: auto 1fr;
}

#{c(modals gif container)} {
	@include ac-color-styling($bg: floating);
	#{c(modals gif header)} {
		@include ac-border-styling(normal, secondary-alt, $bt: 0);
		@include ac-padding-styling($px: small, $pb: small);
		@include ac-color-styling($bg: primary);
		@include ac-rounded-styling($brb: small);
		@include ac-spacing-styling($m: 0, $ml: small);
	}

	#{c(modals gif scroller)} {
		#{c(modals gif result)} {
			@include ac-rounded-styling($br: small);
			overflow: hidden;
		}
	}
}

#{c(modals sticker wrapper)} {
	#{c(modals sticker header)} {
		@include ac-border-styling(normal, secondary-alt, $bt: 0);
		@include ac-padding-styling($px: small, $pb: small);
		@include ac-color-styling($bg: primary);
		@include ac-rounded-styling($brb: small);
		@include ac-spacing-styling($m: 0, $ml: small);
	}

	#{c(modals sticker listWrapper)} {
		@include ac-spacing-styling($ml: calc(var(--ac-spacing-sm) * 2), $mt: small);

		#{C(modals sticker gridWrapper)} {
			#{c(modals sidebarList scroller)} {
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);
			}

			#{c(modals expressionPicker inspector)} {
				@include ac-spacing-styling($ml: 0);
			}

			#{c(modals sticker packHeader)} {
				@include ac-spacing-styling($my: x-small);
				@include ac-rounded-styling($br: small);

				&::after {
					@include ac-position-styling($d: none);
				}
			}
		}
	}
}

#{c(modals expressionPicker nav)} {
	@include ac-border-styling(normal, secondary-alt, $bb: 0);
	@include ac-padding-styling($p: small);
	@include ac-color-styling($bg: primary);
	@include ac-rounded-styling($brt: small);
	@include ac-spacing-styling($ml: small);

	.navList__08434 {
		@include ac-flex-styling($jc: space-around);
	}
}

#{c(modals emoji hasTabWrapper)} {
	#{c(modals emoji picker)} {
		@include ac-flex-styling($d: grid, $gapc: small);

		#{c(modals emoji header)} {
			@include ac-border-styling(normal, secondary-alt, $bt: 0);
			@include ac-padding-styling($px: small, $pb: small);
			@include ac-color-styling($bg: primary);
			@include ac-rounded-styling($brb: small, $brt: 0);
			@include ac-spacing-styling($m: 0, $ml: small);
		}

		#{c(modals emoji body)} {
			@include ac-spacing-styling($ml: small, $my: small);

			#{c(modals emoji listWrapper)} {
				@include ac-border-styling(normal, secondary-alt);
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);

				#{c(modals emoji categoryHeader)} {
					@include ac-spacing-styling($m: x-small);
					@include ac-rounded-styling($br: small);

					&::after {
						@include ac-position-styling($d: none);
					}
				}
			}
		}
	}
}

#{c(modals expressionPicker inspector)} {
	@include ac-border-styling(normal, secondary-alt);
	@include ac-spacing-styling($ml: small, $mt: small);
	@include ac-color-styling($bg: primary);
	@include ac-rounded-styling($br: small);
}

#{c(modals sidebarList wrapper)} {
	@include ac-border-styling(normal, secondary-alt);
	@include ac-color-styling($bg: primary);
	@include ac-rounded-styling($br: small);
	@include ac-spacing-styling($ml: small);
	@include ac-position-styling($top: calc(50px + var(--ac-spacing-sm)));
	#{c(modals emoji unicodeShortcut)} {
		@include ac-border-styling(none);
	}
}

#{c(other cv appPopoutWrapper)} {
	@include ac-color-styling($bg: floating);
	@include ac-rounded-styling($br: small);

	.searchBarContainer__927fc {
		@include ac-spacing-styling($m: small, $mb: 0);
		@include ac-color-styling($bg: primary);
		@include ac-rounded-styling($br: small);
		@include ac-padding-styling($p: x-small);
	}

	.container_cb32c7 {
		@include ac-color-styling($bg: secondary);

		.bannerImageContainer_cb32c7 {
			@include ac-spacing-styling($m: x-small);
			@include ac-rounded-styling($br: small);
			width: auto;
		}

		.appDetailsContainer_cb32c7 {
			@include ac-color-styling($bg: primary);
			@include ac-rounded-styling($br: small);
			@include ac-spacing-styling($m: x-small);
		}
	}

	.rowDivider_cb32c7 {
		display: none;
	}
}
