@use '../config/config' as *;
@use 'map' as *;
@use 'sass:color';
@use 'sass:map';

@function hexToRGB($color) {
	@return red($color), green($color), blue($color);
}

@mixin nebula-hslvar-func($map, $var, $h-base, $s-base, $l-base, $saturation: null) {
	@each $id, $calc in $map {
		$h-calc: nth($calc, 1);
		$s-calc: nth($calc, 2);
		$l-calc: nth($calc, 3);
		$o: nth($calc, 4);

		@if $saturation {
			--#{$var}-#{$id}: hsla(calc(#{$h-base} #{$h-calc}),
				calc(var(--saturation-factor) * calc(#{$s-base} #{$s-calc})),
				calc(#{$l-base} #{$l-calc}),
				#{$o}) !important;
		}

		@else {
			--#{$var}-#{$id}: hsla(calc(#{$h-base} #{$h-calc}),
				calc(#{$s-base} #{$s-calc}),
				calc(#{$l-base} #{$l-calc}),
				#{$o}) !important;
		}
	}
}

html:root {
	&.visual-refresh,
	&.visual-refresh .theme-light,
	&.visual-refresh .theme-dark,
	&.visual-refresh .theme-darker {
		@include nebula-hslvar-func($NB, 'background', $NBV01, $NBV02, $NBV03);
		@include nebula-hslvar-func($NI, 'interactive', $NBV10, $NBV11, $NBV12, saturation);
		@include nebula-hslvar-func($NT, 'text', $NBV07, $NBV08, $NBV09, saturation);
		@include nebula-hslvar-func($NBM, 'background-modifier', $NBV13, $NBV14, $NBV15, saturation);
		@include nebula-hslvar-func($NA, 'brand', $NBV04, $NBV05, $NBV06, saturation);
		@include nebula-hslvar-func($NB, 'accent', $NBV04, $NBV05, $NBV06, saturation);

		--text-link: var(--brand-500) !important;

		--background-mobile: var(--background-secondary) !important;
		--background-input: var(--background-secondary-alt) !important;
		--background-accent: var(--brand-500) !important;
		--modal-background: var(--background-primary) !important;

		--status-active: placeholder;
		--status-dnd: placeholder;
		--status-invisible: placeholder;
		--status-streaming: placeholder;
		--status-idle: placeholder;

		--message-background: var(--background-primary);
		--message-background-hover: var(--background-tertiary);
		--message-background-mentioned: var(--background-accent);
		--message-background-mentioned-hover: var(--brand-330);

		--scrollbar-thin-thumb: var(--brand-500);
		--scrollbar-auto-thumb: var(--brand-500);
		--green-primary: #43b581;
		--green-secondary: #61d09a;
		--green-tertiary: #209967;
		--yellow-primary: #faa61a;
		--yellow-secondary: #ffc23d;
		--yellow-tertiary: #dc8c00;
		--red-primary: #f04747;
		--red-secondary: #ff6660;
		--red-tertiary: #d12731;
		--purple-primary: #593695;
		--purple-secondary: #744fb1;
		--purple-tertiary: #3e207c;
		--blue-primary: #1d66d3;
		--blue-secondary: #264ca3;
		--blue-tertiary: #1e3685;
	}
}