@use '../config/config' as *;
@use 'sass:color';
@use 'sass:map';

@function hexToRGB($color) {
	@return red($color), green($color), blue($color);
}

html:root,
.theme-dark,
.theme-light {
	--text-primary: rgba(#{hexToRGB($E01)});
	--text-secondary: rgba(#{hexToRGB($E02)});
	--text-active: rgba(#{hexToRGB($E05)});
	--text-header: rgba(#{hexToRGB($E05)});
	--text-muted: rgba(#{hexToRGB($E03)});
	--text-link: rgba(#{hexToRGB($E04)});

	--background-primary: rgba(#{hexToRGB($D01)}) !important;
	--background-secondary: rgba(#{hexToRGB($D02)}) !important;
	--background-tertiary: rgba(#{hexToRGB($D04)}) !important;
	--background-secondary-alt: rgba(#{hexToRGB($D03)}) !important;
	--background-floating: rgba(#{hexToRGB($D05)}) !important;
	--background-mobile: rgba(#{hexToRGB($D06)}) !important;
	--background-input: rgba(#{hexToRGB($D07)}) !important;
	--background-accent: rgba(#{hexToRGB($D08)}) !important;

	--background-modifier-hover: rgba(#{hexToRGB($H01)}, #{$O09}) !important;
	--background-modifier-selected: rgba(#{hexToRGB($H02)}, #{$O08}) !important;
	--background-modifier-active: rgba(#{hexToRGB($H03)}, #{$O09}) !important;
	--background-modifier-accent: rgba(#{hexToRGB($H04)}, #{$O10}) !important;

	--accent-primary: placeholder;
	--accent-secondary: placeholder;
	--accent-secondary-alt: placeholder;
	--accent-tertiary: placeholder;

	--interactive-normal: rgba(#{hexToRGB($F01)}) !important;
	--interactive-hover: rgba(#{hexToRGB($F02)}) !important;
	--interactive-active: rgba(#{hexToRGB($F03)}) !important;
	--interactive-disabled: rgba(#{hexToRGB($F04)}) !important;

	--status-active: placeholder;
	--status-dnd: placeholder;
	--status-invisible: placeholder;
	--status-streaming: placeholder;
	--status-idle: placeholder;

	--message-background: rgba(#{hexToRGB($D01)});
	--message-background-hover: rgba(#{hexToRGB($D04)});
	--message-background-mentioned: rgba(#{hexToRGB($C02)}, #{$O03});
	--message-background-mentioned-hover: rgba(#{hexToRGB($C03)}, #{$O05});

	--scrollbar-thin-thumb: var(--accent-500);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: var(--accent-500);
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: red;
	--scrollbar-auto-scrollbar-color-track: blue;
	--green-primary: #43b581;
	--green-secondary: #61d09a;
	--green-tertiary: #209967;
	--yellow-primary: #faa61a;
	--yellow-secondary: #ffc23d;
	--yellow-tertiary: #dc8c00;
	--red-primary: #f04747;
	--red-secondary: #ff6660;
	--red-tertiary: #d12731;
	--purple-primary: #593695;
	--purple-secondary: #744fb1;
	--purple-tertiary: #3e207c;
	--blue-primary: #1d66d3;
	--blue-secondary: #264ca3;
	--blue-tertiary: #1e3685;
}
