$NB: (
	'primary': (
		' + 0',
		' + 0%',
		' + 0%',
		'1',
	),
	'secondary': (
		' - 1',
		' + 2%',
		' - 4%',
		'1',
	),
	'secondary-alt': (
		' - 2',
		' + 5%',
		' + 7%',
		'1',
	),
	'tertiary': (
		' - 2',
		' + 6%',
		' - 11%',
		'1',
	),
	'floating': (
		' - 2',
		' + 5%',
		' - 8%',
		'1',
	),
	'surface-high' : (
		' + 2',
		' + 4%',
		' - 3%',
		'1',
	)
);

$NI: (
	'normal': (
		' + 0',
		' + 0%',
		' + 0%',
		'1',
	),
	'hover': (
		' - 1',
		' + 2%',
		' - 4%',
		'1',
	),
	'active': (
		' - 2',
		' + 5%',
		' + 7%',
		'1',
	),
	'disabled': (
		' - 2',
		' + 6%',
		' - 11%',
		'1',
	),
);

$NT: (
	'primary': (
		' + 0',
		' + 0%',
		' + 0%',
		'1',
	),
	'secondary': (
		' - 1',
		' + 2%',
		' - 4%',
		'1',
	),
	'active': (
		' - 2',
		' + 5%',
		' + 7%',
		'1',
	),
	'muted': (
		' - 2',
		' + 6%',
		' - 11%',
		'1',
	),
	'header': (
		' - 2',
		' + 6%',
		' - 11%',
		'1',
	),
);

$NBM: (
	'hover': (
		' + 1',
		' - 6%',
		' - 12%',
		'.4',
	),
	'selected': (
		' - 0',
		' + 4%',
		' - 8%',
		'.7',
	),
	'active': (
		' - 0',
		' - 9%',
		' + 4%',
		'1',
	),
	'accent': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
);
$NA: (
	'05a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'10a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'15a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'20a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'25a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'30a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'35a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'40a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'45a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'50a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'55a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'60a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'65a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'70a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'75a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'80a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'85a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'90a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'95a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'100a': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
	'100': (
		' - 1',
		' - 11%',
		' - 25%',
		'1',
	),
	'130': (
		' - 0',
		' - 13%',
		' - 23%',
		'1',
	),
	'160': (
		' - 1',
		' - 13%',
		' - 22%',
		'1',
	),
	'200': (
		' - 0',
		' - 12%',
		' - 22%',
		'1',
	),
	'230': (
		' - 0',
		' - 10%',
		' - 20%',
		'1',
	),
	'260': (
		' - 1',
		' - 07%',
		' - 19%',
		'1',
	),
	'300': (
		' - 1',
		' - 06%',
		' - 15%',
		'1',
	),
	'330': (
		' - 0',
		' - 04%',
		' - 12%',
		'1',
	),
	'360': (
		' - 0',
		' - 4%',
		' - 11%',
		'1',
	),
	'400': (
		' - 0',
		' + 2%',
		' - 10%',
		'1',
	),
	'430': (
		' - 1',
		' - 1%',
		' - 08%',
		'1',
	),
	'460': (
		' - 1',
		' + 0%',
		' - 05%',
		'1',
	),
	'500': (
		' - 0',
		' + 0%',
		' - 00%',
		'1',
	),
	'530': (
		' - 0',
		' - 4%',
		' + 6%',
		'1',
	),
	'560': (
		' - 0',
		' - 12%',
		' + 13%',
		'1',
	),
	'600': (
		' - 0',
		' - 17%',
		' + 16%',
		'1',
	),
	'630': (
		' - 0',
		' - 18%',
		' + 18%',
		'1',
	),
	'660': (
		' - 0',
		' - 22%',
		' + 22%',
		'1',
	),
	'700': (
		' - 0',
		' - 30%',
		' + 24%',
		'1',
	),
	'730': (
		' - 0',
		' - 34%',
		' + 26%',
		'1',
	),
	'760': (
		' - 0',
		' - 40%',
		' + 28%',
		'1',
	),
	'800': (
		' - 0',
		' - 45%',
		' + 30%',
		'1',
	),
	'830': (
		' - 0',
		' - 51%',
		' + 33%',
		'1',
	),
	'860': (
		' - 0',
		' - 66%',
		' + 35%',
		'1',
	),
	'900': (
		' - 0',
		' + 0%',
		' - 0%',
		'1',
	),
);