html {
	&:root {
		--font-primary: var(--ACV18) !important;
		--font-display: var(--ACV19) !important;
		--font-headline: var(--font-display) !important;
		--font-code: var(--ACV20) !important;
	}
	* {
		font-optical-sizing: auto;
	}
}
