$O01: 1;
$O02: 0.95;
$O03: 0.9;
$O04: 0.85;
$O05: 0.8;
$O06: 0.75;
$O07: 0.7;
$O08: 0.65;
$O09: 0.6;
$O10: 0.55;
$O11: 0.5;
$O12: 0.45;
$O13: 0.4;
$O14: 0.35;
$O15: 0.3;
$O16: 0.25;
$O17: 0.2;
$O18: 0.15;
$O19: 0.1;
$O20: 0.05;
$O21: 0;
