@use 'abstract' as *;

#{c(chat page)} {
	@include ac-border-styling(none);
	&:has(.fullScreen_cb9592) {
		grid-column: -1/1 !important;

		#{c(chat layerWrapper)} {
			@include ac-position-styling($top: 0);
		}
	}
	.container__89463 {
		@include ac-flex-styling($gapr: small);
		.contentContainer__89463 {
			@include ac-flex-styling($gapc: small);
			.powerupsContainer__89463 {
				@include ac-border-styling(normal, secondary-alt);
				@include ac-color-styling($bg: secondary);
				@include ac-rounded-styling($br: small);
			}
			.sidebarContainer__89463 {
				@include ac-border-styling(normal, secondary-alt);
				@include ac-rounded-styling($br: small);
			}
		}
	}

	#{c(chat _index)} {
		@include ac-color-styling($bg: transparent);
		@include ac-border-styling(none);
		> #{c(scroller auto)} {
			@include ac-border-styling(normal, secondary-alt);
			@include ac-spacing-styling($mt: small);
			@include ac-color-styling($bg: secondary);
			@include ac-rounded-styling($br: small);
			#{c(other cv homeContainer)} {
				@include ac-spacing-styling($m: 2x-large);
				.maxWidthWrapper__7449f {
					@include ac-flex-styling($f: 1, $wrap: wrap, $ac: end);
				}
			}
		}
		#{c(chat chatContent)} {
			@include ac-color-styling($bg: transparent);
			@include ac-spacing-styling($mt: small);
			@include ac-flex-styling($gap: small);
			@include ac-border-styling(none);

			#{c(chat chatScrollerNSFW)} {
				@include ac-border-styling(normal, secondary-alt);
				@include ac-rounded-styling($br: small);
			}

			#{c(pages pageBody)} {
				@include ac-rounded-styling($br: small);
			}

			#{c(chat chatContentInner)} {
				@include ac-color-styling($bg: transparent);

				#{c(other cv channelNotInList)} {
					@include ac-border-styling(normal, secondary-alt);
					@include ac-color-styling($bg: secondary);
					@include ac-rounded-styling($br: small);
					@include ac-spacing-styling($mb: small);
					&::after {
						@include ac-position-styling($d: none);
					}
				}

				#{c(chat messagesWrapper)} {
					@include ac-color-styling($bg: secondary);
					@include ac-rounded-styling($br: small);
					@include ac-border-styling(normal, secondary-alt);
					overflow: hidden;

					&::before {
						@include ac-position-styling(
							$w: calc(100% - 18px),
							$h: 100%,
							$pos: absolute,
							$top: 0,
							$left: 0,
							$z: 4
						);
						@include ac-color-styling($bg: secondary);
						mask-image: linear-gradient(
							#000,
							rgba(0, 0, 0, 0.738) 4%,
							rgba(0, 0, 0, 0.541) 5%,
							rgba(0, 0, 0, 0.278) 6.5%,
							rgba(0, 0, 0, 0.194) 7%,
							rgba(0, 0, 0, 0.126) 8%,
							rgba(0, 0, 0, 0.075) 9.2%,
							rgba(0, 0, 0, 0.042) 10.1%,
							rgba(0, 0, 0, 0.021) 11%,
							rgba(0, 0, 0, 0.008) 12.2%,
							rgba(0, 0, 0, 0.002) 13.2%,
							transparent,
							rgba(0, 0, 0, 0.008) 90.2%,
							rgba(0, 0, 0, 0.021) 91%,
							rgba(0, 0, 0, 0.042) 92.1%,
							rgba(0, 0, 0, 0.194) 93%,
							rgba(0, 0, 0, 0.578) 95.5%,
							rgba(0, 0, 0, 0.738) 97%,
							#000
						);
						pointer-events: none;
						content: '';
					}

					#{c(chat chatScroller)} {
						@include ac-spacing-styling($mr: xx-small);
						@include ac-rounded-styling($br: small);
					}

					#{c(chat chatLoadingWrapper)} {
						@include ac-color-styling($bg: transparent);

						#{c(chat messageLoadingWrapper)} {
							@include ac-color-styling($bg: transparent);
						}
					}

					#{c(chat newMessagesBar)} {
						@include ac-position-styling($w: unset, $left: unset, $right: unset);
						@include ac-color-styling($c: header-primary);
					}

					#{c(chat scrollerSpacer)} {
						@include ac-position-styling($h: 40px);
					}

					#{c(chat divider)} {
						@include ac-position-styling($h: unset);
						@include ac-flex-styling($jc: start);
						@include ac-border-styling(none);

						#{c(chat unreadPill)} {
							@include ac-position-styling($pos: relative, $top: 0, $h: unset);
							@include ac-padding-styling($py: xx-small, $px: x-small);
							@include ac-color-styling($bg: secondary-alt);
							@include ac-rounded-styling($br: small);
							font-size: 12px;

							svg {
								@include ac-position-styling($d: none);
							}
						}

						#{c(chat dividerContent)} {
							@include ac-padding-styling($py: xx-small, $px: x-small);
							@include ac-color-styling($bg: primary, $c: header-primary);
							@include ac-border-styling(normal, secondary-alt);
							@include ac-position-styling($h: unset);
							@include ac-rounded-styling($br: x-small);
						}
					}
				}
			}

			&#{c(pages header container)} {
				@include ac-color-styling($bg: secondary);
				@include ac-rounded-styling($br: small);
				@include ac-flex-styling($gap: 0);

				#{c(pages header tabBar)} {
					@include ac-spacing-styling($m: small, $mb: 0);
				}
			}

			&::before {
				@include ac-position-styling($d: none);
			}
		}

		#{c(chatForm typingBaseBar)} {
			@include ac-position-styling(
				$pos: relative,
				$right: unset,
				$left: unset,
				$top: 0,
				$h: min-content,
				$z: 7
			);
			@include ac-border-styling(normal, secondary-alt);
			@include ac-color-styling($bg: floating);
			@include ac-rounded-styling($br: small);
			@include ac-spacing-styling($m: small);
			@include ac-padding-styling($p: x-small);
			@include ac-flex-styling($f: 1);
			@include ac-position-styling($d: block);
			box-shadow: none !important;
			&#{c(chatForm jumpToPresentBar)} {
				@include ac-position-styling($bottom: auto, $min-h: unset);
				@include ac-border-styling(none);
				&.barWithAppLauncherButton__0f481 {
					@include ac-flex-styling($dir: row, $gapc: small);
					button {
						@include ac-color-styling($bg: modifier-selected);
					}
				}
				.barButtonBase__0f481 {
					@include ac-position-styling($h: unset, $w: 100%);
					@include ac-padding-styling($p: 0);
				}

				button {
					@include ac-padding-styling($px: small);
				}

				&::before {
					@include ac-position-styling($d: none);
				}
			}

			button {
				@include ac-color-styling($bg: transparent);
			}
		}
	}
}
