@use 'abstract' as *;

#{c(memberList container)} {
	@include ac-position-styling($h: calc(100% - 2px));
	@include ac-color-styling($bg: secondary);
	@include ac-rounded-styling($br: small);
	@include ac-border-styling(normal, secondary-alt);
	overflow: unset;

	aside {
		@include ac-border-styling(none);
		#{c(memberList members)} {
			@include ac-color-styling($bg: transparent);
			@include ac-rounded-styling($br: small);
			@include ac-border-styling(none);
			#{c(other cv memberActivityContainer)} {
				@include ac-position-styling($h: unset);
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);
				@include ac-padding-styling($p: small);
				@include ac-border-styling(none);
				cursor: pointer;

				&:hover {
					@include ac-color-styling($bg: modifier-hover);
				}
			}

			#{c(memberList member)} {
				@include ac-rounded-styling($br: small);
				@include ac-color-styling($bg: transparent);

				#{c(memberList childContainer)},
				.childContainer__91a9d {
					@include ac-padding-styling($p: 0);

					#{c(memberList layout)} {
						@include ac-position-styling($h: unset);
						@include ac-padding-styling($pr: 2x-large, $pl: x-small, $py: x-small);
						#{c(avatar wrapper)} {
							foreignObject[mask*='mobile'] {
								overflow: unset !important;
								&:after {
									@include ac-position-styling(
										$w: calc(
												var(--custom-member-list-width) - calc(
														var(--ac-spacing-md) * 2
													)
											),
										$left: calc(var(--ac-spacing-xs) * -1)
									);
									place-self: flex-end;
								}
							}
						}
					}
				}
			}
		}
	}
}
