@use 'abstract' as *;

li#{c(chat messageListItem)} {
	#{c(chat message)} {
		@include ac-padding-styling($pr: large, $pl: x-large);
		@include ac-flex-styling($d: grid, $gapc: small);
		@include ac-color-styling($bg: transparent);

		#{c(chat repliedMessage)} {
			@include ac-position-styling($max-w: 35vw, $w: auto);
			@include ac-spacing-styling($mb: small);
			grid-area: replied;
			overflow: unset;

			#{c(chat repliedMessageClickableSpine)} {
				@include ac-position-styling($pos: relative, $left: 0, $top: 40%);
			}

			&::before,
			#{c(chat repliedMessageClickableSpine)}::before {
				@include ac-position-styling($pos: relative,
					$d: block,
					$top: 30%,
					$left: 0,
					$w: 30px,
					$h: 80%);
				border: var(--spine-width) solid var(--spine-default) !important;
				border-bottom: 0 !important;
				inset: unset !important;
			}

			#{c(chat repliedMessageClickableSpine)} {
				@include ac-position-styling($h: 100%);
			}

			#{c(chat repliedTextPreview)} {
				#{c(chat repliedTextContent)} {
					@include ac-padding-styling($p: 0);
					@include ac-spacing-styling($m: 0);

					span {
						white-space: normal;
					}
				}
			}
		}

		#{c(other cv messageButtonContainer)} {
			.buttonsInner__5126c {
				@include ac-color-styling($bg: secondary-alt);
				@include ac-rounded-styling($br: small);
				@include ac-padding-styling($p: xx-small);
				box-shadow: none !important;
				@include ac-border-styling(none);
			}
		}

		#{c(chat messageContents)} {
			@include ac-flex-styling($dir: column);
			@include ac-rounded-styling($br: small);
			@include ac-position-styling($max-w: 35vw, $w: auto);
			@include ac-color-styling($bgc: var(--message-background));
			@include ac-border-styling(normal, secondary-alt);
			transition: 0.15s 0.1s ease all !important;
			grid-area: message;

			#{c(chat chatAvatar)} {
				@include ac-rounded-styling($br: var(--rs-avatar-shape));
				@include ac-position-styling($top: 0, $left: 0);
				grid-area: avatar;
			}

			&:has(#{c(chat messageContent)}:empty):not(:has(#{c(chat chatAvatar)})) {
				@include ac-color-styling($bgc: transparent);
			}

			&:hover {
				@include ac-color-styling($bgc: var(--message-background-hover));
			}

			#{c(chat chatAvatarDecoration)} {
				@include ac-position-styling($top: 0, $left: -4px);
				grid-area: avatar;
			}

			&:has(#{c(chat chatHeaderUsername)}),
			&:has(#{c(chat messageContent)} > span, ol, #{c(main anchorLink)}, s span, pre, code) {
				@include ac-padding-styling($p: small);

				pre {
					@include ac-position-styling($max-w: unset);
					@include ac-spacing-styling($mt: 0);
				}
			}

			#{c(chat messageContent)} {
				@include ac-spacing-styling($m: 0);
				@include ac-padding-styling($p: 0);

				&:has(#{c(other cv messageTimestampAlt)}):not(:has(> *:not(#{c(other cv messageTimestampAlt)}))) {
					@include ac-position-styling($d: none);
				}

				.container__235ca {
					@include ac-spacing-styling($mx: small, $mt: x-small);
				}

				#{c(embeds poll finished embed)} {
					@include ac-spacing-styling($m: small);
				}
			}
		}

		#{c(chat messageAttachmentsContainer)} {
			@include ac-spacing-styling($mt: small);
			@include ac-position-styling($max-w: unset, $w: unset);
			@include ac-flex-styling($gapr: small, $d: grid);
			grid-area: media;

			#{c(other cv embed)} {
				@include ac-rounded-styling($br: small);
				.embedMedia__623de{ 
					.altText__0f481 {
						@include ac-color-styling($bg: secondary);
						@include ac-spacing-styling($m: xx-small);
						@include ac-rounded-styling($br: x-small);
						@include ac-padding-styling($p: xx-small);
					}
				}

				&#{c(embeds embedFull)} {
					@include ac-color-styling($bg: primary);
					@include ac-border-styling(normal, secondary-alt);
				}
			}

			.visualMediaItemContainer_f4758a {
				@include ac-position-styling($w: unset, $max-w: unset);
			}

			#{c(embeds embedGridContainer)} {
				#{c(embeds embedGrid)} {
					&:not(:has(#{c(main anchorLink)})) {
						@include ac-padding-styling($p: 0);

						&.hasThumbnail__623de {
							@include ac-padding-styling($p: small);
						}
					}

					.embedMedia__623de {
						@include ac-position-styling($max-w: unset);

						* {
							@include ac-position-styling($max-w: unset, $max-h: unset);
						}
					}
				}
			}

			#{c(other cv embed)} {
				@include ac-color-styling($bg: var(--message-background));
				transition: 0.15s 0.1s ease all !important;
				&:hover {
					@include ac-color-styling($bg: var(--message-background-hover));
				}
			}

			#{c(other cv attachmentEmbedWrapper)}:not(:has(.imageContainer__0f481, #{c(embeds videoPlayWrapper)}),
				.embedSpotify__623de,
				.gridContainer__623de) {
				@include ac-rounded-styling($br: small);
				@include ac-padding-styling($p: small);
				@include ac-flex-styling($gap: small, $d: grid);

				#{c(embeds textContainer)} {
					@include ac-rounded-styling($br: small);
					@include ac-border-styling(none);
				}

				#{c(embeds textFooter)} {
					@include ac-rounded-styling($br: small);
					@include ac-border-styling(none);
				}
			}

			#{c(embeds invite)} {
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);
				@include ac-padding-styling($p: small);
				@include ac-border-styling(none);

				>div {
					@include ac-flex-styling($gap: small, $d: grid);

					.container__652b4 {
						@include ac-spacing-styling($m: 0);
						@include ac-rounded-styling($br: small);
					}

					.footerContainer_da5e8d {
						@include ac-spacing-styling($m: 0);
					}
				}
			}

			#{c(embeds poll container)} {
				@include ac-color-styling($bg: primary);
			}

			.container__122e4 {
				@include ac-position-styling($w: auto);
			}

			#{c(forums reactions reactions)} {
				#{c(forums reactions reaction)} {
					@include ac-color-styling($bg: primary);
				}
			}

			#{c(embeds invite)} {
				@include ac-rounded-styling($br: small);
				@include ac-padding-styling($p: small);
				@include ac-color-styling($bg: primary);

				#{c(embeds inviteSplash)} {
					@include ac-spacing-styling($m: 0, $mb: x-small);
					@include ac-rounded-styling($br: small);
				}
			}

			#{c(modals mediaViewer imageWrapperInner)} {
				@include ac-rounded-styling($br: small);
			}

			.mosaicItem__6c706 {
				@include ac-rounded-styling($br: unset);

				#{c(embeds voiceMessage container)} {
					@include ac-color-styling($bg: var(--message-background));
					@include ac-padding-styling($p: small);
					@include ac-rounded-styling($br: small);
				}
			}

			.container_cacd02 {
				@include ac-color-styling($bg: primary);
				@include ac-rounded-styling($br: small);
				@include ac-flex-styling($js: auto, $jc: auto);

				#{c(other cv messagePublishBumpBox)} {
					@include ac-color-styling($bg: transparent);
				}
			}

			&:empty {
				@include ac-position-styling($d: none);
			}
		}

		&#{c(chat mentioned)} {
			@include ac-color-styling($bgc: transparent);
			--text-link: var(--brand-800) !important;

			#{c(chat repliedMessage)} {
				#{c(chat repliedMessageClickableSpine)} {
					border-color: var(--brand-300);
				}
			}

			#{c(chat messageContents)} {
				@include ac-color-styling($bgc: var(--message-background-mentioned));

				&:hover {
					@include ac-color-styling($bgc: var(--message-background-mentioned-hover));
				}
			}

			&::before {
				@include ac-position-styling($d: none);
			}
		}

		&#{c(chat isSystemMessage)} {
			#{c(chat messageContents)} {
				@include ac-padding-styling($p: small);

				#{c(chat chatWelcomeContainer)} {
					@include ac-spacing-styling($m: 0);
				}
			}
		}

		&#{c(chat messageSelected)} {
			@include ac-color-styling($bg: transparent);

			#{c(chat messageContents)} {
				@include ac-color-styling($bg: var(--message-background-hover));
			}
		}

		&:hover {
			@include ac-color-styling($bg: transparent);
		}

		&#{c(chat replying)} {
			#{c(chat messageContents)} {
				@include ac-color-styling($bg: var(--message-background-mentioned));
			}
		}

		&::before {
			display: none;
		}
	}

	&[data-is-self='true']>#{c(chat message)},
	>[data-is-self='true'] {
		grid-template-columns: auto var(--chat-avatar-size);
		@include ac-flex-styling($ji: flex-end, $d: grid);
		grid-template-areas:
			'replied replied'
			'message avatar'
			'media .';

		#{c(chat repliedMessage)} {
			@include ac-flex-styling($dir: row-reverse);
			@include ac-spacing-styling($mr: large);

			#{c(chat repliedMessageClickableSpine)} {
				@include ac-rounded-styling($brtr: small);
				@include ac-spacing-styling($mx: 0, $mr: 0, $ml: small);
				border-left: 0 !important;

				&::before {
					border: 0 !important;
				}
			}

			#{c(chat repliedTextPreview)} {
				@include ac-spacing-styling($mr: xx-small);
				text-align: right;
			}
		}

		#{c(other cv messageButtonContainer)} {
			@include ac-position-styling($left: unset, $right: small);

			#{c(chat buttons)} {
				@include ac-position-styling($right: calc(var(--chat-avatar-size) + var(--ac-spacing-sm)), $left: unset);
			}
		}
	}

	&[data-is-self='false']>#{c(chat message)},
	>[data-is-self='false'] {
		@include ac-flex-styling($ji: flex-start, $d: grid);
		grid-template-columns: var(--chat-avatar-size) auto;
		grid-template-areas:
			'replied replied'
			'avatar message'
			'. media';

		#{c(chat repliedMessage)} {
			@include ac-position-styling($left: small);
			@include ac-spacing-styling($ml: medium, $mb: medium);

			#{c(chat repliedMessageClickableSpine)} {
				@include ac-rounded-styling($brtl: small);
				@include ac-spacing-styling($mx: 0, $ml: 0, $mr: small);
				border-right: 0 !important;

				&::before {
					border: 0 !important;
				}
			}
		}

		#{c(other cv messageButtonContainer)} {
			@include ac-position-styling($left: 0, $right: unset);

			#{c(chat buttons)} {
				@include ac-position-styling($right: unset, $left: calc(var(--chat-avatar-size) + var(--ac-spacing-sm)));
			}
		}
	}
}