@use 'abstract' as *;

#{c(search wrap)} {
	@include ac-rounded-styling($br: small);
	@include ac-color-styling($bg: secondary);
	border: none !important;

	#{c(search header)} {
		@include ac-spacing-styling($m: small);
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: primary);
		border: none !important;
	}

	#{c(search scroller)} {
		@include ac-padding-styling($pt: 0);

		ul#{c(search resultsGroup)} {
			li#{c(search resultContainer)} {
				#{c(search result)} {
					@include ac-rounded-styling($br: small);
					@include ac-color-styling($bg: secondary);
					border: none !important;
				}
			}
		}
	}
}