@use 'abstract' as *;

#{c(chatForm form)} {
	@include ac-padding-styling($p: 0, $px: small);
	@include ac-spacing-styling($mt: small, $mb: 0);
	@include ac-color-styling($bg: secondary);
	@include ac-rounded-styling($br: small);
	@include ac-flex-styling($ai: center, $d: grid);
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'pill BottomBar';

	#{c(chatForm channelBottomBarArea)} {
		@include ac-flex-styling($ai: center, $dir: row, $f: 1);
		@include ac-color-styling($bg: transparent);
		@include ac-padding-styling($pr: 0);
		@include ac-rounded-styling($br: 0);
		@include ac-spacing-styling($m: 0);
		grid-area: BottomBar;

		#{c(chatForm channelTextAreaMain)} {
			@include ac-color-styling($bg: transparent);
			@include ac-spacing-styling($mb: 0);
			border: none !important;

			#{c(chatForm scrollableContainer)} {
				@include ac-color-styling($bg: transparent);
				overflow: hidden;
				.channelAttachmentArea_b77158{
					@include ac-position-styling($pos: absolute, $w: fit-content, $bottom: calc(100% + calc(var(--ac-spacing-md) * 2)), $left: 0, $right: 0, $max-w: 100%);
					@include ac-color-styling($bg: primary);
					@include ac-rounded-styling($br: small);
					@include ac-padding-styling($p: small);
				}
				#{c(chatForm inner)} {
					@include ac-padding-styling($p: 0);

					#{c(chatForm attachWrapper)} {
						button {
							@include ac-spacing-styling($m: 0);
							@include ac-padding-styling($pl: small, $pr: 0, $py: 0);

							#{c(chatForm attachButtonInner)} {
								@include ac-icon-replacement($ip: attach,
									$ic: var(--interactive-normal),
									$ich: var(--interactive-hover));
							}

							&:hover {
								#{c(chatForm attachButtonInner)} {
									@include ac-color-styling($bg: var(--interactive-active));
								}
							}
						}
					}

					#{c(chatForm attachButton2)} {
						@include ac-position-styling($pos: relative);
						@include ac-spacing-styling($m: 0);

						.icon__4d3a9 {
							@include ac-padding-styling($pr: 0);
						}
					}

					#{c(chatForm textArea)} {
						@include ac-spacing-styling($ml: small);
					}

					#{c(chatForm buttons)} {
						@include ac-position-styling($h: unset);
						@include ac-flex-styling($gap: 0);
					}
				}
			}

			#{c(chatForm stackedBars)} {
				@include ac-rounded-styling($br: small);
				@include ac-spacing-styling($m: small, $mb: 0, $mr: 0);

				#{c(chatForm replyBar)} {
					@include ac-rounded-styling($br: small);
				}
			}

			#{c(modals autocomplete modal)} {
				@include ac-position-styling($right: 0, $bottom: calc(100% + var(--ac-spacing-sm) * 2), $left: calc(var(--ac-spacing-xxs) * -1));
				@include ac-rounded-styling($br: small);
				@include ac-color-styling($bg: primary);
				box-shadow: none;

				#{c(modals sidebarList scroller)} {
					@include ac-spacing-styling($my: small);
					#{c(modals sidebarList listItems)} {
						@include ac-spacing-styling($m: small);
						inset: 0 !important;

						ul {
							#{c(modals autocomplete categoryHeader)} {
								@include ac-rounded-styling($br: small);

								&::after {
									@include ac-position-styling($d: none);
								}
							}

							#{c(modals autocomplete clickable)} {
								#{c(modals autocomplete base)} {
									@include ac-rounded-styling($br: small);
								}
							}
						}
					}
				}

				#{c(modals autocomplete rail)} {
					@include ac-rounded-styling($br: small);
					@include ac-color-styling($bg: secondary);
					@include ac-spacing-styling($my: small, $ml: small);

					#{c(modals sidebarList wrapper)} {
						@include ac-position-styling($pos: relative);
						@include ac-spacing-styling($mt: small);

						#{c(modals sidebarList listItems)} {
							@include ac-flex-styling($dir: column, $ai: center);
							inset: 0 !important;
						}
					}
				}
			}
		}

		.entryPointButtonContainer_f75fb0 {
			@include ac-position-styling($pos: relative, $h: 100%);
			@include ac-spacing-styling($m: 0);

			button {
				@include ac-color-styling($bg: transparent);
				@include ac-position-styling($w: unset, $min-w: unset);
				@include ac-spacing-styling($m: 0);
				@include ac-padding-styling($p: 0);

				#{c(button contents)} {
					display: none;
				}

				&::before {
					@include ac-position-styling($w: 24px, $pos: relative, $h: 24px);
					@include ac-spacing-styling($mr: small);
					@include ac-icon-replacement($ip: cmds,
						$ic: var(--interactive-normal),
						$ich: var(--interactive-hover));
					content: '';
				}
			}
		}

		#{c(chatForm channelAppLauncher)} {
			@include ac-spacing-styling($m: 0);

			#{c(chatForm launcherButtonContainer)} {
				button {
					@include ac-color-styling($bg: transparent);
				}
			}
		}
	}

	&:has(#{c(chatForm typingBase)}) {
		grid-template-areas:
			'typingBase typingBase'
			'pill BottomBar';
	}

	&::before {
		@include ac-color-styling($bg: var(--brand-300));
		@include ac-rounded-styling($br: small);
		@include ac-position-styling($pos: relative,
			$d: block,
			$h: 50%,
			$w: var(--ac-pill-width));
		grid-area: pill;
		transition: 0.125s ease all;
		content: '';
	}

	&:has(#{c(chatForm typingBase)}) {
		@include ac-padding-styling($pt: 0);
	}

	#{c(chatForm typing)} {
		@include ac-position-styling($w: 100%, $left: 0, $right: 0, $z: 1);
		@include ac-padding-styling($py: xx-small);
		@include ac-spacing-styling($mb: small);
		grid-area: typingBase;

		#{c(chatForm typingDots)} {
			svg {
				@include ac-spacing-styling($ml: 0);
			}
		}
	}

	#{c(chatForm followWrapper)} {
		@include ac-position-styling($w: unset, $h: unset);
		@include ac-color-styling($bg: transparent);
		@include ac-rounded-styling($br: small);
		@include ac-padding-styling($py: small, $pr: small);
		@include ac-spacing-styling($m: 0);
		border: none !important;
		grid-column: 2 / -1;

		.content__44df5 {
			@include ac-position-styling($h: unset);
			@include ac-spacing-styling($ml: small);

			img {
				@include ac-spacing-styling($mb: 0);
			}
		}

		#{c(chatForm followButtonContainer)} {
			@include ac-spacing-styling($m: 0);
		}
	}

	&:focus-within,
	&:has(.channelAttachmentArea_b77158) {
		&::before {
			@include ac-color-styling($bg: var(--brand-500));
			@include ac-position-styling($h: 65%);
		}
	}

	&:hover:not(&:focus-within):not(:has(.channelAttachmentArea_b77158)) {
		&::before {
			@include ac-position-styling($h: 58%);
			@include ac-color-styling($bg: var(--brand-330));
		}
	}
}