@use 'abstract' as *;

#{c(header header)} {
	@include ac-color-styling($bg: secondary);
	@include ac-rounded-styling($br: small);
	@include ac-padding-styling($pr: small, $pl: x-small, $py: medium);
	overflow: hidden !important;
	border: none !important;

	&#{c(header themed)} {
		@include ac-position-styling($h: unset);

		&::before {
			@include ac-position-styling($d: none);
		}

		.dot__9293f {
			@include ac-position-styling($d: none);
		}

		#{c(header upperContainer)} {
			justify-content: space-between;

			#{c(header children)} {
				@include ac-color-styling($bg: transparent);
				@include ac-rounded-styling($br: small);
				flex: unset;

				#{c(avatar wrapper)} {
					@include ac-spacing-styling($m: 0);
					@include ac-padding-styling($px: xx-small);
					@include ac-position-styling($h: 100%, $w: unset);

					svg {
						@include ac-position-styling($pos: relative);
						foreignObject {
							@include ac-position-styling($w: 100%, $h: 100%);
						}
						> rect {
							x: 2 !important;
							y: 2 !important;
						}
					}
				}

				#{c(header iconWrapper)} {
					@include ac-rounded-styling($brl: small);
					@include ac-position-styling($h: 100%);
					@include ac-spacing-styling($m: 0);
					@include ac-flex-styling($ac: center, $wrap: wrap);
					@include ac-padding-styling($px: small);
				}

				#{c(header titleWrapper)} {
					@include ac-position-styling($h: 100%);
					@include ac-flex-styling($ac: center);
					@include ac-spacing-styling($m: 0);
					@include ac-padding-styling($p: 0);
				}
				#{c(header akaBadge)} {
					@include ac-color-styling($bg: secondary-alt);
				}

				&::after {
					@include ac-position-styling($d: none);
				}
			}

			#{c(header toolbar)} {
				@include ac-flex-styling($f: 1);
				#{c(header iconWrapper)} {
					svg {
						@include ac-color-styling($c: var(--interactive-normal));
					}

					&:hover {
						svg {
							@include ac-color-styling($c: var(--interactive-hover));
						}
					}
				}

				#{c(header search)} {
					@include ac-spacing-styling($mx: auto);
					order: -1;

					#{c(header searchInner)} {
						#{c(header searchBar)} {
							@include ac-position-styling($min-w: 230px);
							@include ac-color-styling($bg: tertiary);
							@include ac-rounded-styling($br: small);
							@include ac-padding-styling($pr: xx-small);
							border: none !important;
							.DraftEditor-root {
								.public-DraftEditorPlaceholder-root {
									@include ac-position-styling($top: 0, $h: 100%);
									@include ac-padding-styling($p: 0);
									.public-DraftEditorPlaceholder-inner {
										@include ac-padding-styling($p: xx-small);
									}
								}
								.DraftEditor-editorContainer {
									[data-contents='true'] {
										@include ac-padding-styling($py: xx-small);
									}
								}
							}
							.icon__97492 {
							}
						}
					}
				}
			}
		}
	}
}
