@use 'abstract' as *;

#{c(header header)} {
	@include ac-color-styling($bg: secondary);
	@include ac-rounded-styling($br: small);
	@include ac-padding-styling($pr: small, $pl: x-small, $py: small);
	overflow: hidden !important;
	border: none !important;

	&#{c(header themed)} {
		@include ac-position-styling($h: unset);

		&::before {
			@include ac-position-styling($d: none);
		}

		.dot__9293f {
			@include ac-position-styling($d: none);
		}

		#{c(header upperContainer)} {
			justify-content: space-between;

			#{c(header children)} {
				@include ac-color-styling($bg: transparent);
				@include ac-rounded-styling($br: small);
				flex: unset;

				#{c(avatar wrapper)} {
					@include ac-spacing-styling($m: 0);
					@include ac-padding-styling($px: xx-small);
					@include ac-position-styling($h: 100%, $w: unset);

					svg {
						@include ac-position-styling($pos: relative);
					}
				}

				#{c(header iconWrapper)} {
					@include ac-rounded-styling($brl: small);
					@include ac-position-styling($h: 100%);
					@include ac-spacing-styling($m: 0);
					@include ac-flex-styling($ac: center, $wrap: wrap);
					@include ac-padding-styling($px: small);
				}

				#{c(header titleWrapper)} {
					@include ac-rounded-styling($brr: small);
					@include ac-position-styling($h: 100%);
					@include ac-flex-styling($ac: center);
					@include ac-padding-styling($pr: small);
				}

				&::after {
					@include ac-position-styling($d: none);
				}
			}

			#{c(header toolbar)} {
				#{c(header iconWrapper)} {
					svg {
						@include ac-color-styling($c: var(--interactive-normal));
					}

					&:hover {
						svg {
							@include ac-color-styling($c: var(--interactive-hover));
						}
					}
				}

				#{c(header search)} {
					@include ac-spacing-styling($m: 0);

					#{c(header searchInner)} {
						#{c(header searchBar)} {
							width: 180px;
							.icon__97492 {
								@include ac-position-styling($d: none);
							}
						}
					}
				}
			}
		}
	}
}