@use 'abstract' as *;

#{c(notice base)} {
	@include ac-border-styling(normal, secondary-alt);
	@include ac-rounded-styling($br: small);
	@include ac-flex-styling($ai: center, $jc: center);
	@include ac-padding-styling($p: x-small);
	@include ac-spacing-styling(
		$my: medium,
		$ml: calc(var(--ac-spacing-xs) - 2px),
		$mr: calc(var(--ac-spacing-sm) * 2)
	);
	overflow: hidden !important;
	#{c(notice closeButton)} {
		@include ac-position-styling($h: 100%);
	}

	button {
		@include ac-position-styling($top: 0);
		@include ac-rounded-styling($br: x-small);
		border-width: 1.5px;
	}
}
