@use 'abstract' as *;

.radioGroup__963c3 {
	#{c(userSettings radioGroupItem)} {
		#{c(userSettings radioBar)} {
			@include ac-color-styling($bg: primary);
			@include ac-rounded-styling($br: small);
			@include ac-padding-styling($p: small);
			grid-template-areas: 'pill checkbox message';
			grid-template-columns: auto auto 1fr;
			border: none;

			&:before {
				@include ac-color-styling($bg: var(--radio-bar-accent-color));
				@include ac-position-styling($w: var(--ac-pill-width), $pos: relative, $h: 65%);
				@include ac-rounded-styling($br: small);
				transition: 0.2s ease;
				content: '';
			}

			#{c(userSettings radioIndicatorChecked)} {
				@include ac-flex-styling;
			}
		}

		&[aria-checked='true'] {
			#{c(userSettings radioBar)} {
				@include ac-color-styling($bg: modifier-selected);

				&::before {
					@include ac-position-styling($h: 90%);
				}
			}
		}

		&:hover:not([aria-checked='true']) {
			#{c(userSettings radioBar)} {
				@include ac-color-styling($bg: modifier-hover);
			}
		}
	}
}
