@use 'abstract' as *;

#{c(sidebar server container)} {
	@include ac-color-styling($bg: transparent);
	@include ac-padding-styling($pb: 0);

	&::before {
		@include ac-position-styling(
			$d: block,
			$pos: absolute,
			$w: 100%,
			$h: 80px,
			$bottom: 0,
			$z: 2
		);
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: secondary);
		pointer-events: none !important;
		mask-image: linear-gradient(
			transparent 9%,
			#0000001a 10%,
			#0000006a 40%,
			#000000b6 50%,
			#000000 80%
		);
		content: '';
	}

	#{c(sidebar upsellContainer)} {
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-spacing-styling($mt: small);

		#{c(sidebar eventNotice notice)} {
			border: none;
		}

		&:empty {
			@include ac-position-styling($d: none);
		}
	}

	#{c(sidebar server unreadBar positionedContainer)} {
		#{c(sidebar server unreadBar top)} {
			@include ac-position-styling($top: small);

			#{c(sidebar server unreadBar containerPadding)} {
				@include ac-position-styling($w: 100%);
				@include ac-spacing-styling($m: small);
				@include ac-padding-styling($p: 0);
				transition: 0.1s ease all;

				#{c(sidebar server unreadBar bar)} {
					@include ac-rounded-styling($br: small);
					@include ac-position-styling($w: 100%);
					@include ac-flex-styling($jc: center);
					@include ac-padding-styling($p: 0);
					box-shadow: none !important;
					border: none !important;

					#{c(sidebar server unreadBar text)} {
						@include ac-spacing-styling($my: xx-small);
					}
				}
			}
		}
	}

	#{c(sidebar server scroller)} {
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-spacing-styling($my: x-small);
		@include ac-padding-styling($p: 0);

		ul {
			@include ac-padding-styling($pl: x-small);
			@include ac-position-styling($h: fit-content);

			> [style*='height:'] {
				@include ac-position-styling($d: none);
			}

			&::after {
				@include ac-position-styling(
					$d: block,
					$h: var(--custom-guild-list-width),
					$w: 100%,
					$pos: relative
				);
				content: '';
			}

			#{c(sidebar server divider)} {
				@include ac-position-styling($d: none);
			}

			li {
				#{c(sidebar server channel wrapper)}#{c(sidebar server channel container)}:has(
						#{c(sidebar server extras basicChannelRowLink)}
					) {
					@include ac-spacing-styling($my: small);
					#{c(sidebar server extras basicChannelRowLink)} {
						@include ac-padding-styling($px: small, $py: x-small);
					}
				}
				#{c(sidebar boostContainer)}:not(:empty) {
					@include ac-padding-styling($p: small);
					@include ac-color-styling($bg: primary);
					@include ac-rounded-styling($br: small);
					@include ac-spacing-styling($my: small, $ml: 0);
					border: none;

					#{c(sidebar boostTextArea)},
					#{c(sidebar boostProgressBarContainer)} {
						@include ac-spacing-styling($mx: 0);
					}

					&::after {
						@include ac-position-styling($d: none);
					}
				}

				#{c(sidebar server channel container)} {
					@include ac-flex-styling($dir: row, $ai: center, $f: 1);
					@include ac-padding-styling($px: x-small, $py: xx-small);
					@include ac-rounded-styling($br: small);
					@include ac-spacing-styling($m: 0);

					&::after {
						@include ac-position-styling($pos: relative, $w: 0);
						@include ac-flex-styling($d: block);
						content: '';
						order: -1;
					}

					&::before {
						@include ac-rounded-styling($br: small);
						@include ac-position-styling($pos: absolute, $w: 0, $h: 25px);
						@include ac-flex-styling($d: block);
						transition: 0.1s 0.06s ease all;
						content: '';
					}

					#{c(sidebar server channel link)} {
						@include ac-rounded-styling($br: small);
						@include ac-flex-styling($f: 1, $jc: center);
						@include ac-padding-styling($pl: small);
					}

					&:hover {
						@include ac-color-styling($bg: modifier-hover);

						#{c(sidebar server channel link)} {
							@include ac-color-styling($bg: transparent);
						}

						&::before {
							@include ac-position-styling($w: var(--ac-pill-width));
							@include ac-color-styling($bg: var(--brand-500));
						}
					}
				}
			}

			li#{c(sidebar server channel container)} {
				@include ac-padding-styling($pb: x-small);
				@include ac-flex-styling($f: 1, $dir: column);

				#{c(sidebar server channel wrapper)} {
					@include ac-spacing-styling($m: 0);
					@include ac-flex-styling($ai: center, $wrap: wrap, $dir: row, $f: 1);
					@include ac-rounded-styling($br: small);
					@include ac-padding-styling($px: x-small);
					transition: 0.25s ease all;

					#{c(sidebar server channel unreadBlob)} {
						@include ac-flex-styling($d: none);
					}

					&::after {
						@include ac-position-styling($pos: relative, $w: 0);
						@include ac-flex-styling($d: block);
						content: '';
						order: -1;
					}

					&::before {
						@include ac-rounded-styling($br: small);
						@include ac-position-styling($pos: absolute, $w: 0, $h: 25px);
						@include ac-flex-styling($d: block);
						transition: 0.1s 0.06s ease all;
						content: '';
					}

					&#{c(sidebar server channel modeUnreadImportant)} {
						&::before {
							@include ac-position-styling($w: var(--ac-pill-width));
							@include ac-color-styling($bg: var(--brand-500));
						}
					}

					&#{c(sidebar server channel modeSelected)},
					&#{c(sidebar server channel modeConnected)} {
						@include ac-color-styling($bg: modifier-selected);

						a {
							@include ac-color-styling($bg: transparent);
						}

						&:before {
							@include ac-position-styling($w: var(--ac-pill-width));
							@include ac-color-styling(
								$bg: (
									var(--brand-600),
								)
							);
						}
					}

					&:hover:not(#{c(sidebar server channel modeSelected)}) {
						@include ac-color-styling($bg: modifier-hover);

						a {
							@include ac-color-styling($bg: transparent);
						}

						&:before {
							@include ac-position-styling($w: var(--ac-pill-width));
							@include ac-color-styling($bg: var(--brand-500));
						}
					}

					> div[class]:not(#{c(sidebar server channel unreadBlob)}) {
						@include ac-flex-styling($f: 1);
						@include ac-position-styling($w: 100%);

						a {
							@include ac-rounded-styling($br: small);
							@include ac-position-styling($w: 100%);
							@include ac-flex-styling($f: 1);
							gap: 4px;
							flex-direction: row;
							@include ac-padding-styling($py: small, $pl: small, $pr: 0);

							#{c(sidebar server channel linkTop)} {
								@include ac-flex-styling($f: 1, $gap: xx-small);
								@include ac-position-styling($w: 100%);

								#{c(sidebar server channel iconContainer)} {
									@include ac-spacing-styling($m: 0);
								}

								#{c(sidebar server channel children)} {
									#{c(sidebar server channel channelInfo)} {
										@include ac-spacing-styling($m: 0);
										.mentionsBadge__933a1{
											#{c(serverList numberBadge)} {
												@include ac-color-styling($bg: transparent);
												text-align: center;
											}
										}
									}
								}
							}

							#{c(sidebar server channel linkBottom)} {
								@include ac-spacing-styling($m: 0);
							}
						}
					}
				}
			}
		}
	}
}
