@use 'abstract' as *;

#{c(sidebar server header container)} {
	.headerGlass_f37cb1 {
		@include ac-position-styling($d: none);
	}
	#{c(sidebar server header header)} {
		@include ac-border-styling(normal, primary);
		@include ac-color-styling($bg: secondary);
		@include ac-position-styling($h: unset);
		@include ac-rounded-styling($br: small);
		@include ac-border-styling(normal, secondary-alt);
		box-shadow: none !important;
	}

	#{c(sidebar server header bannerContainer)} {
		@include ac-position-styling(
			$pos: relative,
			$max-w: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width))
		);
		@include ac-color-styling($bg: transparent);
		@include ac-spacing-styling($mt: small);
		@include ac-rounded-styling($br: small);
		box-shadow: none !important;
		transform: none !important;
		cursor: auto !important;
		opacity: 1 !important;

		#{c(sidebar server header bannerImage)} {
			@include ac-color-styling($bg: transparent);
			@include ac-position-styling($pos: relative, $w: 100%);

			transform: none !important;
			opacity: 1 !important;

			img {
				@include ac-border-styling(normal, secondary-alt);
				@include ac-rounded-styling($br: small);
			}

			&::before {
				@include ac-position-styling($d: none);
			}
		}
	}

	.headerEllipseBackdrop_f37cb1,
	.headerEllipseForeground_f37cb1 {
		@include ac-position-styling($d: none);
	}
}
