@use 'abstract' as *;

#{c(sidebar server header container)} {
	#{c(sidebar server header header)} {
		@include nebula-color-styling($bg: secondary);
		@include nebula-rounded-styling($br: small);
		box-shadow: none !important;
		border: none !important;
	}
	#{c(sidebar server header bannerContainer)} {
		@include nebula-position-styling($pos: relative);
		@include nebula-color-styling($bg: transparent);
		@include nebula-spacing-styling($mt: small);
		box-shadow: none !important;
		transform: none !important;
		cursor: auto !important;
		opacity: 1 !important;
		overflow: unset;
		#{c(sidebar server header bannerImage)} {
			@include nebula-position-styling($w: 100%);
			@include nebula-color-styling($bg: secondary);
			transform: none !important;
			opacity: 1 !important;
			img {
				@include nebula-position-styling($w: 100%);
				@include nebula-rounded-styling($br: small);
			}
			&::before {
				@include nebula-position-styling($d: none);
			}
			&::after {
				@include nebula-position-styling(
					$w: 100%,
					$h: 50px,
					$pos: absolute,
					$bottom: calc(-1 * calc(50px + var(--nebula-spacing-xs))),
					$left: 0,
					$z: 3
				);
				@include nebula-rounded-styling($brt: small);
				@include nebula-color-styling($bg: secondary);
				mask-image: linear-gradient(#000 10%, transparent);
				content: '';
			}
		}
	}
}
