@use 'abstract' as *;

#{c(sidebar private channels)} {
	@include ac-color-styling($bg: transparent);

	#{c(sidebar private searchBar)} {
		@include ac-color-styling($bgc: transparent);
		@include ac-border-styling(normal, primary);
		@include ac-rounded-styling($br: small);
		@include ac-position-styling($h: unset);
		@include ac-spacing-styling($mb: small);
		@include ac-padding-styling($p: 0);
		overflow: hidden !important;
		box-shadow: none;

		button {
			@include ac-padding-styling($p: medium, $pl: large);
			@include ac-color-styling($bgc: secondary);
			@include ac-position-styling($h: unset);
			@include ac-rounded-styling($br: small);
			@include ac-spacing-styling($m: 0);
			@include ac-border-styling(none);
			line-height: unset;
		}

		&:hover {
			@include ac-color-styling($bg: floating);
		}
	}

	#{c(sidebar private scroller)} {
		@include ac-border-styling(normal, secondary-alt);
		@include ac-color-styling($bg: secondary);
		@include ac-rounded-styling($br: small);
		@include ac-padding-styling($p: 0, $pt: x-small);
		@include ac-spacing-styling($mb: 0);
		overflow: hidden;

		&::-webkit-scrollbar {
			@include ac-color-styling($bg: transparent);
			@include ac-rounded-styling($br: small);
		}

		&::-webkit-scrollbar-thumb {
			@include ac-position-styling($w: var(--ac-pill-width));
			@include ac-color-styling($bgc: modifier-accent);
			@include ac-rounded-styling($br: small);
			@include ac-spacing-styling($m: small);
		}

		ul {
			@include ac-padding-styling($p: 0, $pb: calc(var(--custom-app-panels-height, 0) + 8px));
			@include ac-flex-styling($ac: flex-start, $wrap: wrap);
			@include ac-color-styling($bg: transparent);
			@include ac-spacing-styling($m: 0);

			#{c(sidebar private friendsButtonContainer)} {
				@include ac-flex-styling($f: 1 1 auto);
				@include ac-spacing-styling($ml: 0);

				li#{c(sidebar private channel)} {
					@include ac-position-styling($max-w: unset, $w: 100%);
					@include ac-flex-styling($f: 1 1 auto);

					#{c(sidebar private interactive)} {
						@include ac-position-styling($w: 100%);

						&::before,
						&::after {
							@include ac-position-styling($d: none);
						}
					}
				}
			}

			#{c(sidebar private recentActivities container)} {
				@include ac-position-styling($w: 100%);

				#{c(sidebar private recentActivities itemContainer)} {
					overflow: unset;
				}
			}

			.sectionDivider__35e86 {
				@include ac-position-styling($d: none);
			}

			#{c(sidebar private headerContainer)} {
				@include ac-padding-styling($pt: x-small);
				@include ac-position-styling($w: 100%);
			}

			li#{c(sidebar private channel)} {
				@include ac-position-styling($max-w: unset);
				@include ac-rounded-styling($br: small);
				@include ac-spacing-styling($m: 0);
				overflow: hidden;

				#{c(sidebar private interactive)} {
					@include ac-padding-styling($p: 0);
				}

				&:has(#{c(sidebar private link)}[href*='/channels/@me/']) {
					@include ac-spacing-styling($ml: x-small);
					@include ac-position-styling($w: fill);

					#{c(sidebar private interactive)} {
						transition: 0.1s 0.1s ease;

						#{c(sidebar private link)} {
							padding: var(--ac-spacing-xs);
							gap: 0;

							#{c(sidebar private layout)} {
								@include ac-position-styling($w: 100%, $h: unset);
							}

							&::before {
								@include ac-position-styling(
									$w: var(--ac-pill-width),
									$h: 30px,
									$pos: relative
								);
								@include ac-rounded-styling($br: small);
								@include ac-spacing-styling($mr: xx-small);
								content: '';
								order: -1;
							}

							&::after {
								@include ac-position-styling($w: 0, $h: 30px, $pos: absolute);
								@include ac-rounded-styling($br: small);
								transition: 0.1s 0.05s ease all;
								content: '';
								order: -1;
							}
						}

						#{c(sidebar private closeButton)} {
							@include ac-position-styling($d: block);
							transform: translateX(30px);
							transition: 0.1s 0.07s ease all;
						}

						&:hover,
						&:focus-within {
							#{c(sidebar private link)} {
								&::after {
									@include ac-color-styling($bg: var(--brand-430));
									@include ac-position-styling(
										$w: var(--ac-pill-width),
										$h: 30px,
										$pos: absolute
									);
								}
							}

							#{c(sidebar private closeButton)} {
								transform: translate(-10px);
							}
						}

						&:hover {
							@include ac-color-styling($bgc: modifier-hover);
						}

						&#{c(sidebar private interactiveSelected)} {
							@include ac-color-styling(
								$bgc: var(--background-modifier-selected),
								$c: var(--interactive-active)
							);

							#{c(sidebar private link)} {
								&::after {
									transition-delay: 0 !important;
									@include ac-color-styling($bg: var(--brand-530));
									@include ac-position-styling(
										$w: var(--ac-pill-width),
										$h: 30px,
										$pos: absolute
									);
								}
							}
						}
					}
				}

				&:has(#{c(sidebar private link)}:not([href*='/channels/@me/'])) {
					@include ac-spacing-styling($ml: x-small);
					flex: 1 1 auto;

					#{c(sidebar private interactive)} {
						@include ac-color-styling($bgc: primary);
						transition: 0.2s ease;

						#{c(sidebar private link)} {
							@include ac-padding-styling($p: x-small);
							@include ac-flex-styling($gap: 0, $f: 1, $jc: space-around);

							.premiumTrialAcknowledgedBadge__94f65 {
								@include ac-color-styling($bg: transparent);
								@include ac-spacing-styling($m: 0);

								svg {
									@include ac-position-styling($d: none);
								}
							}

							.premiumTrialBadge__4c1e4 {
								@include ac-color-styling($bg: transparent);

								.eyebrow_cf4812 {
									@include ac-position-styling($d: none);
								}
							}

							#{c(sidebar private newBadge)} {
								@include ac-position-styling($d: none);
							}

							#{c(sidebar private layout)} {
								@include ac-flex-styling($jc: center, $f: 1);
								@include ac-padding-styling($p: 0);

								#{c(sidebar private avatar)} {
									@include ac-spacing-styling($m: 0);
								}

								#{c(sidebar private content)} {
									@include ac-position-styling($d: none);
								}
							}
						}

						&:has(#{c(sidebar private newBadge)}) {
							@include ac-color-styling($bgc: modifier-accent);

							a svg {
								@include ac-color-styling($c: interactive-active);
							}
						}

						&:has(.premiumTrialBadge__4c1e4) {
							@include ac-color-styling($bg: modifier-accent);

							a svg {
								@include ac-color-styling($c: interactive-active);
							}
						}

						&:hover,
						&:focus-within {
							@include ac-color-styling(
								$bgc: modifier-hover,
								$c: var(--interactive-active)
							);
						}

						&#{c(sidebar private selectedBG)} {
							@include ac-color-styling(
								$bg: modifier-selected,
								$c: var(--interactive-active)
							);
						}
					}
				}
			}
		}
	}

	&::before {
		@include ac-position-styling(
			$d: block,
			$pos: absolute,
			$w: calc(100% - 2px),
			$h: 70px,
			$bottom: 1px,
			$left: 1px,
			$z: 2
		);
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: secondary);
		pointer-events: none !important;
		transition: 0.25s ease all;
		mask-image: linear-gradient(
			transparent 9%,
			#0000001a 10%,
			#0000006a 40%,
			#000000b6 50%,
			#000000 80%
		);
		content: '';
	}
}
