@use 'abstract' as *;

#{c(sidebar panel panels)} {
	@include ac-position-styling($w: fill, $left: unset, $right: 0, $bottom: 0);
	@include ac-color-styling($bg: transparent);
	@include ac-rounded-styling($br: small);
	@include ac-flex-styling($dir: column);
	@include ac-border-styling(none);
	pointer-events: none;

	.container__4bbc6 {
		@include ac-rounded-styling($brt: 0);
		transition: 0.25ms ease all;
		pointer-events: all !important;
		filter: brightness(0.7);
		@include ac-position-styling(
			$w: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 2px),
			$max-h: 230px,
			$left: unset,
			$right: 1px,
			$h: var(--custom-app-panels-height),
			$top: unset,
			$bottom: 0
		);
		mask-image: linear-gradient(
			transparent 0%,
			#0000001a 20%,
			#0000006a 35%,
			#000000b6 48%,
			black 65%
		);
		pointer-events: all;
	}

	.container_791eb8 {
		@include ac-position-styling($w: fill);
		@include ac-flex-styling(
			$as: end,
			$d: grid,
			$jc: unset,
			$gapc: calc(var(--ac-spacing-sm) + 2px)
		);
		grid-template-columns: var(--custom-guild-list-width) 1fr auto;
		@include ac-border-styling(none);
		@include ac-padding-styling($p: 0);
		@include ac-rounded-styling($br: 0);
		grid-template-areas:
			'icon name buttons'
			'icon timeline timeline';
		pointer-events: all;

		.inner_791eb8 {
			@include ac-position-styling($d: contents);

			.coverWrapper_791eb8 {
				@include ac-position-styling($h: 100%, $w: 100%);
				@include ac-flex-styling($ai: start, $jc: center);
				@include ac-spacing-styling($m: 0);
				grid-area: icon;

				img {
					@include ac-position-styling(
						$h: var(--guildbar-avatar-size),
						$w: var(--guildbar-avatar-size),
						$z: 2
					);
					@include ac-spacing-styling($mt: small);
					@include ac-rounded-styling($br: var(--rs-avatar-shape));
				}
			}
		}

		.details_791eb8 {
			@include ac-spacing-styling($mx: small, $mb: xx-small);

			.textScroller_72a89f {
				@include ac-position-styling($w: max-content);
			}
		}

		.timeline_791eb8 {
			@include ac-spacing-styling($my: 0, $mx: small);
			grid-area: timeline;
		}

		div {
			button.enabled__67645 {
				@include ac-spacing-styling($m: 0);
			}
		}
	}

	#{c(sidebar panel container)} {
		@include ac-position-styling($h: unset);
		@include ac-color-styling($bg: transparent);
		@include ac-padding-styling($py: 0, $pr: small, $pl: 0);
		@include ac-flex-styling($ai: flex-end);
		@include ac-spacing-styling($m: 0);
		pointer-events: all;

		&:after {
			@include ac-position-styling(
				$pos: absolute,
				$w: var(--custom-guild-list-width),
				$h: var(--custom-guild-list-width),
				$bottom: 0,
				$left: 0,
				$z: -1
			);
			@include ac-rounded-styling($br: small);
			@include ac-color-styling($bg: floating);
			transition: 0.1s ease-in-out;
			mask-image: linear-gradient(
				transparent 9%,
				#0000001a 10%,
				#0000006a 40%,
				#000000b6 50%,
				#000000 80%
			);
			opacity: 0;
			content: '';
		}

		#{c(sidebar panel avatarWrapper)} {
			@include ac-position-styling($h: var(--custom-guild-list-width));
			@include ac-color-styling($bg: transparent);
			@include ac-flex-styling($d: grid, $gap: calc(var(--ac-spacing-sm) + 2px));
			@include ac-padding-styling($p: 0);
			@include ac-spacing-styling($m: 0);
			grid-template-columns: var(--custom-guild-list-width) 1fr;
			pointer-events: none;
			grid-template-areas: 'profile nameTag';

			#{c(avatar wrapper)} {
				@include ac-position-styling($h: 100%);
				@include ac-flex-styling($js: center, $ai: end);
				pointer-events: none;
				grid-area: profile;
				#{c(avatar decoration)} {
					@include ac-position-styling($pos: relative, $top: unset, $bottom: small);
				}
			}

			#{c(sidebar panel nameTag)} {
				@include ac-flex-styling($dir: column, $as: flex-end, $jc: center);
				@include ac-position-styling($h: 100%, $z: 1);
				@include ac-spacing-styling($m: 0);
				@include ac-padding-styling($pl: small);
				pointer-events: all;
				grid-area: nameTag;
				padding: 0;

				#{c(sidebar panel username)} {
					line-height: normal;
					font-size: 16px;
				}

				#{c(sidebar panel statusSubtext)} {
					font-size: 12px;
				}
			}
		}

		#{c(sidebar panel buttons buttons)} {
			@include ac-flex-styling;
			@include ac-color-styling($bg: transparent);
			@include ac-spacing-styling($mb: small);
			@include ac-padding-styling($p: 0);

			#{c(sidebar panel buttons micButtonParent)} {
				@include ac-rounded-styling($br: small);
				@include ac-spacing-styling($mr: 0);
				@include ac-flex-styling($f: 1);
			}

			button {
				@include ac-rounded-styling($br: small);
				@include ac-position-styling($h: unset, $min-w: 42px);
				@include ac-spacing-styling($m: 0);
				@include ac-flex-styling($f: 1);

				#{c(button contents)} {
					@include ac-padding-styling($p: x-small);
					@include ac-position-styling($w: unset);
					.iconForeground__37e49 {
						@include ac-color-styling($c: inherit);
					}
				}

				&:hover {
					@include ac-color-styling($bg: primary);
				}
			}
		}
	}

	#{c(sidebar panel activity activityPanel)} {
		@include ac-position-styling($w: var(--custom-guild-list-width));
		@include ac-color-styling($bg: transparent);
		@include ac-padding-styling($p: 0);
		@include ac-border-styling(unset);

		#{c(sidebar panel activity body)} {
			@include ac-padding-styling($p: 0);
			grid-template-areas: 'icon info buttons';
			@include ac-flex-styling($jc: center, $d: grid, $gap: calc(var(--ac-spacing-sm) + 2px));
			grid-template-columns: var(--custom-guild-list-width) 1fr auto;

			.gameWrapper__5dec7 {
				@include ac-position-styling($d: contents);
				.wrapper_a629d4 {
					@include ac-flex-styling($jc: center, $js: anchor-center);
					grid-area: icon;
				}
				.info__5dec7 {
					> div {
						.gameName__8c6c2 {
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}
			.gameWrapper__8c6c2 {
				@include ac-position-styling($d: contents);
				.gameIconWrapper__8c6c2 {
					@include ac-position-styling($h: unset);
					@include ac-flex-styling($jc: center);
					grid-area: icon;
					img {
						@include ac-position-styling($h: 40px, $w: 40px);
					}
				}
				.info__8c6c2 {
					grid-area: info;
					> div {
						.gameName__8c6c2 {
							//specificity
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}
			.actions__4cd01 {
				@include ac-spacing-styling($mr: small, $ml: unset);
				grid-area: buttons;
			}
		}
	}

	#{c(sidebar panel activity panel)} {
		@include ac-position-styling($w: 100%);
		@include ac-rounded-styling($br: small);
		@include ac-color-styling($bg: transparent);
		@include ac-border-styling(none);
		#{c(sidebar panel activity body)} {
			@include ac-flex-styling($d: grid, $gap: calc(var(--ac-spacing-sm) + 2px));
			grid-template-columns: var(--custom-guild-list-width) 1fr;
			> * {
				pointer-events: all;
			}
		}
	}

	#{c(sidebar panel voice wrapper)} {
		@include ac-position-styling($w: var(--custom-guild-list-width));
		@include ac-color-styling($bg: secondary);
		order: -1;

		#{c(sidebar panel voice container)} {
			@include ac-padding-styling($px: small, $pb: 0);
			@include ac-flex-styling($gap: x-small);
			@include ac-spacing-styling($m: 0);
			@include ac-border-styling(none);
			pointer-events: all;

			#{c(sidebar panel voice connection)} {
				@include ac-flex-styling($dir: column);

				#{c(sidebar panel voice inner)} {
					@include ac-position-styling(
						$d: flex,
						$pos: absolute,
						$w: fill,
						$bottom: calc(var(--ac-spacing-sm) * -2),
						$left: calc(100% + var(--ac-spacing-sm) * 2)
					);
					@include ac-padding-styling($py: small);

					#{c(sidebar panel voice rtcConnection statusWrapper)} {
						@include ac-flex-styling($dir: column, $gap: xx-small);

						#{c(sidebar panel voice rtcConnection status)} {
							#{c(sidebar panel voice labelWrapper)} {
							}
						}

						a {
							#{c(sidebar panel statusSubtext)} {
							}
						}
					}
				}

				#{c(sidebar panel voice voiceButtonsContainer)} {
					@include ac-position-styling($w: 100%);
					@include ac-flex-styling($dir: column, $gap: x-small);
					@include ac-spacing-styling($m: 0);

					button {
						@include ac-color-styling($bg: var(--button-secondary-background));
						@include ac-position-styling($w: 100%);
						@include ac-spacing-styling($m: 0);

						&:hover {
							@include ac-color-styling(
								$bg: var(--button-secondary-background-hover)
							);
						}
					}
				}
			}

			#{c(sidebar panel voice actionButtons actionButtons)} {
				@include ac-flex-styling($dir: column);

				button {
					@include ac-position-styling($w: 100%);
					@include ac-padding-styling($p: small);
				}
			}
		}

		&:empty {
			@include ac-padding-styling($p: 0);
			@include ac-spacing-styling($m: 0);
		}
	}

	&:has(#{c(sidebar panel voice wrapper)}:not(:empty)) {
		#{c(sidebar panel container)} {
			&::before {
				@include ac-rounded-styling($brb: small, $brt: 0);
			}
		}
	}
}
