@use 'abstract' as *;

#{c(serverList wrapper)} {
	@include ac-spacing-styling(
		$mb: calc(var(--custom-app-panels-height, 0) - var(--ac-spacing-lg))
	);
	@include ac-color-styling($bg: transparent);
	@include ac-rounded-styling($brt: small);
	@include ac-position-styling($z: 10);
	overflow: hidden;
	#{c(serverList unreadMentionsBarTop)} {
		@include ac-position-styling($top: var(--custom-guild-list-width), $w: unset);
		@include ac-spacing-styling($mx: small);
		@include ac-padding-styling($p: 0);
		#{c(sidebar server unreadBar old bar)} {
			@include ac-rounded-styling($br: small);
		}
	}
	ul {
		mask-image: linear-gradient(
			to bottom,
			black 0px,
			red 78px,
			transparent 50px,
			black 0px,
			black calc(100% - 24px),
			transparent 99.3%
		);

		#{c(serverList itemsContainer)} {
			#{c(serverList scroller)} {
				@include ac-padding-styling($p: 0);
			}
		}
	}
}
